[2018-12-01 11:53] ShannonDing opened #21 "CPP examples crash"
[BUG REPORT] the CPP examples crash.

[2018-12-05 06:32] jinoschina opened #24 "[HELP]Prevent or catch the crash of c++ exception throwing"
Is there any way to prevent or catch the crash of c++ exception throw while using pure c?
Such as no topic exception when calling  SendMessageSync from sample "Producer.c".
Thank u very much.

[2018-12-07 02:20] #21 closed

[2018-12-07 08:49] ShannonDing commented on #24
Got it, the exception thrown by CPP kernel will be raised to the system if it is not handled in C API.
Currently, it is better to ensure the parameter correct as much as possible, In the next version, the exception thrown by the CPP kernel will be caught by default and returned to the caller of the C API in the form of an error code.

[2018-12-10 08:20] #24 closed

[2018-12-23 13:09] yiduwangkai opened #32 "error: possibly undefined macro: AC_PROG_LIBTOOL"
my os is Ubuntu 16.04.2
i exec build.sh and i get the error :
configure.ac:101: error: possibly undefined macro: AC_PROG_LIBTOOL
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
i donot know what this means

[2018-12-23 14:38] jonnxu commented on #32
please install libtool before exec build.sh

[2018-12-24 11:17] lemonzone2010 opened #33 "CPullConsumer cannot pull message because of pullResult without nextBeginOffset"
CPullConsumer  cannot pull message

I check the [code](https://github.com/apache/rocketmq-client-cpp/blob/d5887b63ddbba16fec562f64dca7f77ce9ca0bb1/example/PullConsumeMessage.c#L68),found:
[code]
The pullResult.nextBeginOffset will be store in tmpoffset when pullStatus is OFFSET_ILLEGAL.
But the nextBeginOffset is not put in pullResult when pullStatus is OFFSET_ILLEGAL,see the following [code](http

[2018-12-25 08:52] ShannonDing commented on #33
Yes, the offset information should be copied when the pull status is  OFFSET_ILLEGAL.

[2018-12-25 11:01] wlliqipeng opened #35 "Unable to get the right message properties，such as getKeys through C-API"

[2018-12-25 12:00] lemonzone2010 opened #38 "Incorrect UtilAll::currentTimeMillis"
I send one message,but i found incorrent bornTimestamp.
[requestHeader->bornTimestamp](https://github.com/apache/rocketmq-client-cpp/blob/6b9349eaaf0c2c032dfdd2a2afaf202edab7411b/src/producer/DefaultMQProducer.cpp#L361)
[code]
The following unix timestamp value is what i want. But i got incorrent currentTimeMillis by **UtilAll::currentTimeMillis**:

[UtilAll::currentTimeMillis](https://github.com/

[2018-12-25 14:38] jonnxu commented on #32
please reference README

note: make sure the following compile tools or libraries have been installed before running the build script build.sh.
compile tools:
gcc-c++ 4.8.2: c++ compiler while need support C++11
cmake 2.8.0: build jsoncpp require it
automake 1.11.1: build libevent require it
autoconf 2.65: build libevent require it
libtool 2.2.6: build libevent require it
libraries:
bzip2-devel 1.

[2018-12-27 07:21] PRwill opened #41 "Build error: unzip: cannot find zipfile directory in one of libevent-release-2.0.22-stable.zip"

[2018-12-27 08:41] PRwill commented on #41
sry, maybe metwork cause this error. I delete tmp_down_dir/libevent-release-2.0.22-stable.zip and download it from network locally. After this action, i solve this problem.

[2018-12-27 08:41] #41 closed

[2018-12-27 08:46] lemonzone2010 opened #42 "cann't set namesrv with hostname"
I try to set namesrv with host name ,but it doesn’t work:

And The following error occurred:

It's ok only when i set namesrv with ip

[2018-12-28 02:17] ShannonDing commented on #38
Fixed.

[2018-12-28 02:17] #38 closed

[2018-12-28 13:55] ShannonDing commented on #42
Could you please check this issue? @jonnxu

[2018-12-30 14:26] jonnxu opened #43 "one Consumer consume one message twice at the same time"
network:  2*master + 2*slave;
scence:  8 * consumer_1 and 8 * consumer_2 consume the same topic  with push consume method
issue:  the same consumer_1 or consumer_2 instance will get the same message twice at the same time some times.

[2018-12-30 14:36] jonnxu opened #44 "autoRetryTimes doesn't work for producer async send"
send with autoRetryTimes only works for sync producer but not works for async producer for rocketmq-client-cpp with version 1.2.0

[2018-12-30 14:44] jonnxu commented on #42
@ShannonDing ok, this issue will analisys and resolve in version 1.2.2

[2018-12-30 16:42] jonnxu opened #45 "the code of pullMessageAsync will lead to crash"
void DefaultMQPushConsumer::pullMessageAsync(PullRequest* request) {
    if (**request == NULL** || request->isDroped()) {
        LOG_WARN("Pull request is set drop with mq:%s, return",(request->m_messageQueue).toString().c_str());
        **request->removePullMsgEvent();**
        return;
  }
。。。。
}

[2019-01-02 08:30] ShannonDing commented on #33
Fixed.

[2019-01-02 08:30] #33 closed

[2019-01-04 03:04] ShannonDing opened #52 "Get Transport death lock if all brokers shutdown unnormally"
##### Test Env:
  - 1broker
  - 1 push consumer

##### How to reproduce:
  - Use push consumer to connect to broker,
  - shutdown the broker
  - restart the broker
  - check the consumer

##### logs:
[code]

[2019-01-04 03:15] #32 closed

[2019-01-04 09:15] karllen commented on #52
The same problem arises in our environment, the death lock is always happend to the consumer start function @ShannonDing Can you fix this?

[2019-01-05 06:08] yiduwangkai commented on #32
sudo apt-get install autotools-dev
sudo apt-get install aclocal
sudo apt-get install autotools-dev
sudo apt-get install aclocal
sudo apt-get install automake
sudo apt-get install aclocal
sudo apt-get install libz-dev
sudo apt-get install libbz2-dev
sudo apt-get install libboost-all-dev

![image](https://user-images.githubusercontent.com/16093572/50721032-50310d00-10f3-11e9-9110-3152f25138b4.png)

[2019-01-05 06:12] yiduwangkai opened #54 "example/CMakeFiles/PushConsumer.dir/build.make:116: recipe for target '../bin/PushConsumer' failed"
sudo apt-get install autotools-dev
sudo apt-get install aclocal
sudo apt-get install autotools-dev
sudo apt-get install aclocal
sudo apt-get install automake
sudo apt-get install aclocal
sudo apt-get install libz-dev
sudo apt-get install libbz2-dev
sudo apt-get install libboost-all-dev

i install dependency libraies，but when i exec the build.sh，there is a error , this look like the code has bug
![

[2019-01-05 07:47] ShannonDing commented on #54
Zlib was not installed in your system.  for the Ubuntu system, it is better to install the zlib-devel library before installing Boost.
I think "sudo apt-get install zlib1g-dev" is much better.

[2019-01-05 07:53] ShannonDing commented on #52
This problem is under analysis. submitting PR is warmly welcomed if you have a good solution.

[2019-01-05 09:12] yiduwangkai commented on #54
thx, i have solve that，the Community of client cpp help me

[2019-01-05 09:12] #54 closed

[2019-01-05 12:49] karllen commented on #52
@ShannonDing ok! Thank you for your attention, look at the code below

`
tcpConnectStatus TcpTransport::connect(const string &strServerURL,
                                       int timeOutMillisecs /* = 3000 */) {
 //....
 m_ReadDatathread = new boost::thread(boost::bind(&TcpTransport::runThread, this));
    while(!m_event_base_status) {
      LOG_INFO("Wait till event base is looping");
      b

[2019-01-07 03:47] messense opened #56 "Travis CI is failing"

[2019-01-07 14:05] #45 closed

[2019-01-08 11:58] #44 closed

[2019-01-10 03:04] ifplusor commented on #42
bufferevent_socket_connect_hostname support dns

[2019-01-10 06:09] karllen commented on #52
I have fixed it

[2019-01-10 06:33] ifplusor commented on #52
@karllen we have changed thread model of event loop, could you review PR #60 ?

[2019-01-10 09:00] ShannonDing commented on #56
Fixed in PR #62 .

[2019-01-10 09:40] #56 closed

[2019-01-10 14:19] ShannonDing commented on #52
@karllen Thank you for your information, Could you please review and verify this PR #60 .

[2019-01-16 09:11] #43 closed

[2019-01-16 16:56] jonnxu opened #67 "CreateMessage but without DestroyMessage for example AsyncProducer and SyncProducer"
CreateMessage but without DestroyMessage for example AsyncProducer and SyncProducer in CAsyncProducer.c and Producer.c

void startSendMessage(CProducer *producer) {
    ........
    CMessage *msg = CreateMessage("T_TestTopic");
    for (i = 0; i < 10; i++) {
          .......
    }
}

[2019-01-18 09:33] MemeTao opened #71 "consumer.start() segment fault"
I run "./PushConsumer“ fail after build example,but PullConsumer is ok.  client log :
[2019-01-18 17:31:35.315213](info):DefaultMQPushConsumer::boost asio async service runing
[2019-01-18 17:31:35.317030](info):m_tcpConnectTimeout:400, m_tcpTransportTryLockTimeout:1, m_pullThreadNum:4
[2019-01-18 17:31:35.317261](info):MQClient start,groupname:msg-persist-group_producer_sandbox,clientID:11113-fe80

[2019-01-18 11:02] ShannonDing commented on #71
Could you please share the backtrace?

[2019-01-18 12:50] MemeTao commented on #71
I guess there is a big problem with your string-related functions. such as,:
file: consumeMessageConcurrentlyService.cpp
void ConsumeMessageConcurrentlyService::resetRetryTopic(...)
{
     ...
     string retryTopic = msg.getProperty(MQMessage::PROPERTY_RETRY_TOPIC);
     ...
}
string MQMessage::getProperty(const string& name) const
{
    ...
    return " ";
    ...
}
segment fault will occur;
The

[2019-01-21 12:19] MemeTao commented on #71
it's ok now.

[2019-01-21 13:03] jovany-wang opened #74 "Failed to build on Mac"
OS: OS X 10.11.6

LOG:
[code]

It failed at `ar ` command.

[2019-01-23 01:49] #71 closed

[2019-01-23 01:50] #67 closed

[2019-01-23 01:50] #52 closed

[2019-01-23 13:02] h-zh-cn opened #75 "How to send transactional message"
I was confused about how to send transactional message？

[2019-01-24 17:27] ifplusor opened #77 "use lock in process of allocate opaque is unnecessary"
when allocate opaque, 'fetch_add' is ok, don't need lock.

[2019-01-25 02:37] ifplusor opened #79 "consumer questions"
when i use rocketmq-client-cpp, two questions bother me:
1. consume of some queues is blocking, no PULL_MESSAGE will be sent.
2. consumerOffset of some queues will bigger than its brokerOffset.

[2019-01-26 04:00] githublaohu opened #80 "Call MQMessage::toString() exception"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
MQMessage message;
message.toString()

- What did you expect to see?
It is not exception

- What did you see instead?
Call MQMessage::toString() exception

2. Please tell us about your environment:

 - What is your OS?
ubuntu 18.04

 - What is your client version?
1.

 - What is your RocketMQ ve

[2019-01-26 04:07] githublaohu opened #81 "decodeMessageId mistake about act"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
MQDecoder::createMessageId != MQDecoder::decodeMessageId

- What did you expect to see?
MQDecoder::createMessageId == MQDecoder::decodeMessageId

- What did you see instead?
`string msgIdStr = MQDecoder::createMessageId(rocketmq::IPPort2socketAddress(inet_addr("127.0.0.1"), 10091),(int64) 1024);

[2019-01-27 05:31] ifplusor opened #84 "Duplicated opaque!!!"
copy s_seqNumber in RemotingCommand::Assign cause duplicated opaque.

[2019-01-27 15:49] ifplusor commented on #79
first one see #84

[2019-01-27 16:06] ifplusor commented on #79
second one be caused by exceptional queueOffset which update PullRequest.m_queueOffsetMax too large, and not correct when OFFSET_ILLEGAL occur.

[2019-01-28 07:36] githublaohu opened #86 "[bug]CMessageExt.GetMessageQueueOffset abnormal"
**BUG REPORT**

1. Please describe the issue you observed:
Get the right value。

- What did you do (The steps to reproduce)?
`
MQMessageExt *mqMessageExt = new MQMessageExt();
CMessageExt  *messageExt = (CMessageExt*)mqMessageExt;
mqMessageExt->setStoreTimestamp(123123);
GetMessageStoreTimestamp(messageExt);
`

- What did you expect to see?
CMessageExt.GetMessageStoreTimestamp == MQMessageExt.getS

[2019-01-29 06:49] elisium7 opened #87 "the librocketmq.so is much bigger than the dynamic lib in aliyun rocketmq cpp sdkdemo"
i compile this cpp project, then i get librocketmq.so which is about 30M, and librocketmq.a is about 90M, it is too big for a client sdk. i set boost_use_static_libs switch on,libevent_use_static_libs off,jsoncpp_use_static_libs on, gcc version is 4.8.5.

can anyone tell me how can reduce the size of librocketmq.so and librocketmq.a get from the project?

[2019-01-29 11:05] ifplusor commented on #87
now, default libs contain it's dependecies in single file. you can remove them by modify build script files to reduce file size.

[2019-01-30 06:51] powerfulsnail opened #88 "Could not consumer messages from slave broker."
组网环境，当前3台服务器A(broker-a, broker-c-s)、B(broker-b, broker-a-s)、C(broker-c, broker-b-s)，同步复制，异步刷盘，当发送多条异步消息后此时每台服务的broker上都有消息，从控制端上也可看到master的消息同步到slave上了，此时停掉broker-a的master，启动消费者去消费，发现无法从broker-a-s，即其slave上消费，这是什么原因？

[2019-01-30 06:57] powerfulsnail opened #89 "It will crash when start orderly push consumer."
组网环境，当前3台服务器A(broker-a, broker-c-s)、B(broker-b, broker-a-s)、C(broker-c, broker-b-s)，同步复制，异步刷盘，发送顺序消息到一个master和同步到一个slave后，停掉master，创建消费者，订阅topic，注册顺序监听，启动顺序消费者时进程crash

[2019-01-30 08:42] ShannonDing commented on #88
Could you please add more information here, such as client logs?

[2019-01-30 08:51] powerfulsnail commented on #88
部分日志：

[2019-Jan-30 16:41:27.664178](debug):topic [MQ_TOPIC_EFC_SPESCIAL_ALARM] has :MessageQueue [topic=MQ_TOPIC_EFC_SPESCIAL_ALARM, brokerName=broker-c, queueId=13]
[2019-Jan-30 16:41:27.664190](debug):topic [MQ_TOPIC_EFC_SPESCIAL_ALARM] has :MessageQueue [topic=MQ_TOPIC_EFC_SPESCIAL_ALARM, brokerName=broker-c, queueId=14]
[2019-Jan-30 16:41:27.664203](debug):topic [MQ_TOPIC_EFC_SPESCIAL_ALARM]

[2019-01-30 09:13] ifplusor commented on #84
resolved by PR #85

[2019-01-30 09:13] ifplusor commented on #84
resolved by PR #85

[2019-01-30 09:13] #84 closed

[2019-01-30 12:43] powerfulsnail commented on #88
看源码发现
void Rebalance::doRebalance() ——>
m_pClientFactory->findConsumerIds ——>
pTopicRouteData->selectBrokerAddr() ——>
map<int, string>::iterator it1 = (*it).brokerAddrs.find(MASTER_ID)
这里是只能找到MASTER_ID对应的Broker吗，而找不到SLAVE_ID对应的Broker

[2019-01-30 14:41] jonnxu commented on #89
which example program  you test,  cpp or c api?

[2019-01-30 15:03] jonnxu commented on #88
log:
[2019-Jan-30 22:50:11.988949](info):current topic is: test_topic
[2019-Jan-30 22:50:11.989051](error):msg: doRebalance the cidAll is empty,error:-1,in file </home/test/git/apache-rocketmq-client-cpp/src/consumer/Rebalance.cpp> line:106

[2019-01-30 16:26] githublaohu commented on #87
你是否使用最新的版本，关于 .so 与 .a 文件过大已经解决了。
Whether you use the latest version or not, the excessive size of. so and. a files has been resolved.

[2019-01-31 01:51] powerfulsnail commented on #89
一个master一个slave情况下，停掉master，顺序消费slave上的消息我这也没crash，
 但是 三个master与三个slave情况下，停掉之前顺序消息发往的broker的master，从slave上顺序消费时crash，下为对应栈信息
(gdb) bt
#0  0x00007ffff7aa6731 in rocketmq::TcpRemotingClient::GetTransport(std::string const&, bool) () from /usr/local/lib/librocketmq.so
#1  0x00007ffff7aa7964 in rocketmq::TcpRemotingClient::invokeSync(std::string const&, rocketmq::RemotingCommand&, int) () from /usr/

[2019-01-31 02:04] powerfulsnail commented on #88
看代码发现这个报错doRebalance the cidAll is empty是因为void Rebalance::doRebalance() ——>
m_pClientFactory->findConsumerIds ——>
pTopicRouteData->selectBrokerAddr() ——>
map<int, string>::iterator it1 = (*it).brokerAddrs.find(MASTER_ID)只能找到MASTER_ID

[2019-01-31 02:31] ShannonDing commented on #86
Fixed.

[2019-01-31 02:31] #86 closed

[2019-01-31 03:32] Katton211 opened #91 "获取maxoffset异常问题，大家遇到过吗？"
MQClientException , msg: Invoke Broker exception,error:-1,in file rocketmq/src/MQClientFactory.cpp> line:952

[2019-01-31 06:36] #91 closed

[2019-01-31 06:37] Katton211 commented on #91
多网卡时，broker.conf中未指定brokerIP导致。

[2019-01-31 09:45] elisium7 commented on #87
ok,thanks ,I have confirmed ,can you tell me from what you did about to reduce the size.

[2019-01-31 09:47] elisium7 commented on #87
ok ,thanks ,i have confirmed ,can you tell me what you did to reduce the size?

[2019-01-31 13:35] #81 closed

[2019-02-06 04:12] githublaohu opened #93 "内存溢出"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
`
void SendCallbackWrap::operationComplete(ResponseFuture* pResponseFuture,
                                         bool bProducePullRequest) {

  if (!pResponse) {
  	.....
  } else {
    try {
        ............
    } catch (MQException& e) {
       	..........
		if (pResponseFuture->getASy

[2019-02-07 08:37] #93 closed

[2019-02-09 13:53] jonnxu opened #94 "Support send batch message to broker"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-02-13 10:37] jonnxu commented on #87
hi elisium7, i compile rocketmq-client-cpp by running build.sh with latest version, the size for library are:
librocketmq.a 22M
librocketmq.so 3M
if you change some parameter?

[2019-02-13 10:41] jonnxu commented on #87
when using the default build.sh to build  library, the libraries will no depend on json, boost and libevent again,  you just need link rocketmq and also link with following libraries -lpthread -lz -ldl -lrt. Here is an example.
so i think there is no need to change the compile parameters

[2019-02-18 05:04] ifplusor commented on #77
close by #78

[2019-02-18 05:04] #77 closed

[2019-02-19 01:03] ifplusor commented on #79
the second one is only in my branch, cause by new method of manage PullRequest with smart_ptr. in current master branch, consumeOffset can be corrected usually.

[2019-02-19 01:03] #79 closed

[2019-02-23 08:39] powerfulsnail opened #96 "broker中某个队列不消费，什么情况会触发？"
场景：服务器A启动8个生产者不停的分别往8个不同的topic发送消息，同时服务器B启动8个不同group组的消费者不停的分别消费这8个topic，消费一段时间后出现某个队列中的消息不消费了，慢慢个别队列也停止消费。

出现[2019-Feb-23 23:52:51.464556](error):no response got for opaque:920486
[2019-Feb-23 23:52:51.464588](error):send msg, callback timeout, opaque:920486, sendTimes:1, maxRetryTimes:1错误后，broker-c, 的queueId=3这个队列就找不到了，即消费不到该队列中的消息。

日志：
[2019-Feb-23 23:52:51.461848](debug):FOUND:MessageQueue [

[2019-02-25 13:45] ifplusor commented on #96
@powerfulsnail what's version you use?

[2019-02-25 13:48] powerfulsnail commented on #96
最新的rocketmq-cpp1.2.1

[2019-02-25 14:04] ifplusor commented on #96
@powerfulsnail  we have two versions, 1.2.1 and 1.2.1-rc1. notice tag, not title in release. 1.2.1 have some bugs, we fixed them in rc1

[2019-02-25 15:05] powerfulsnail commented on #96
用的是rc1，这个问题应该与版本没关系，我想知道这个问题是什么原因触发的。

[2019-02-27 02:32] githublaohu opened #99 "Compile exception"
1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

rocketmq::WriteBigEndian(writeBuf , newBuf );

- What did you expect to see?
No exception

- What did you see instead?
`
/leaning/space-work/cpp-space/rocketmq-client-cpp/src/common/big_endian.h:50:52: error: invalid operands of types ‘char*’ and ‘int’ to binary ‘operator&’
     buf[sizeof(T) - i - 1] = static

[2019-02-28 02:28] 13686875631 opened #100 "消费者刚刚启动时消费会延时很长时间，多进程消费会有重复数据"
有2个问题，希望能得到各位的帮助，谢谢：
1.环境是多Master多Slave模式，同步双写，使用order模式生产和消费。消费者先启动，生产者发送数据，消费者需要等很长一段时间才能消费（差不多30秒），不知道什么原因？
2.多进程消费同一个topic时，发现偶尔有重复数据，不知道什么原因？

[2019-03-04 04:05] wanliqun commented on #42
Maybe you can try domain name resolving before connecting.

  struct sockaddr_in sin;
  memset(&sin, 0, sizeof(sin));
  sin.sin_family = AF_INET;
  sin.sin_addr.s_addr = inet_addr(hostName.c_str());
  sin.sin_port = htons(portNumber);

  //////////////////////// Add these //////////////////////////
  if (INADDR_NONE == sin.sin_addr.s_addr) { // Invalid ip address, maybe it's a domain name
    try

[2019-03-04 05:12] DrizzleRisk commented on #74
same failed in mac 10.14.1

[2019-03-07 01:50] azhangyang opened #104 "事务消息不支持吗？"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-03-10 14:13] jonnxu commented on #104
yes, it will support in later version

[2019-03-11 00:49] ifplusor commented on #88
@powerfulsnail could you please review #105 ? the PR will resolve this issue.

[2019-03-11 01:06] azhangyang commented on #104
感谢回复！近期2个月内能有事务消息版本吗？

[2019-03-11 07:54] azhangyang opened #106 "请问大概多久有支持事务消息版本的rocketmq-client-cpp?"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-03-12 11:32] powerfulsnail commented on #88
修改src/protocol/TopicRouteData.h后，重新编译测试还是没消费broker——slave上的消息

[2019-03-12 11:34] ifplusor commented on #88
@powerfulsnail 还是因为 findConsumerIds 中获取不到 id 列表吗？

[2019-03-12 11:40] powerfulsnail commented on #88
组网环境还是A(broker-a, broker-c-s)、B(broker-b, broker-a-s)、C(broker-c, broker-b-s)，当发10000条同步消息到3个broker后，停掉一台服务器上的broker，进行消费，下面是日志

[2019-Mar-12 19:29:14.391940](info):updateTopicRouteInfoFromNameServer has data
[2019-Mar-12 19:29:14.392074](info):updateTopicRouteInfoFromNameServer start:MQ_TOPIC_EFC_COMMON_ALARM
[2019-Mar-12 19:29:14.392084](error):msg: The broker not exist,error:-1,in file </mnt/ss

[2019-03-14 06:06] BZever opened #107 "build error on CentOS7.4"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-03-14 15:31] jonnxu commented on #106
may be one month

[2019-03-15 00:48] jonnxu commented on #107
/usr/bin/ld: cannot find -lz

@BZever  you need install bzip library before build. please reference  README.md

Build and Install
note: make sure the following compile tools or libraries have been installed before running the build script build.sh.
compile tools:
gcc-c++ 4.8.2: c++ compiler while need support C++11
cmake 2.8.0: build jsoncpp require it
automake 1.11.1: build libevent require it
au

[2019-03-15 01:24] BZever commented on #107
@jonnxu   thanks for your answer . now another error

Linking CXX executable ../../bin/AsyncProducer
cd /opt/rocketmq-client-cpp/tmp_build_dir/example && /usr/bin/cmake -E cmake_link_script CMakeFiles/AsyncProducer.dir/link.txt --verbose=1
/usr/bin/c++   -Wall -Wno-deprecated -fPIC -fno-strict-aliasing -std=c++11 -Wno-unused-local-typedef -Wno-expansion-to-defined -m64 -O3 -DNDEBUG    CMakeFiles/A

[2019-03-15 01:35] elisium7 commented on #107
I met the same error before,that's because you have some errors when you build the boost_iostreams with lack of zlib.you can remove the boost libs and then rebuild them.

i

[2019-03-15 03:26] #106 closed

[2019-03-15 03:27] #104 closed

[2019-03-15 05:49] azhangyang opened #109 "关于事务消息支持问题为什么被删了？？"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-03-15 06:02] #107 closed

[2019-03-15 08:03] ifplusor commented on #88
@powerfulsnail please check new commit in #105 , i modify another function  MQClientFactory::findBrokerAddressInSubscribe, which will select slave now.

[2019-03-15 08:22] ifplusor commented on #100
@13686875631 重复消息是无法避免的，须要在业务端做去重，或者业务幂等。

[2019-03-16 14:17] githublaohu opened #111 "ResetOffsetRequestHeader exception"
1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

 Value value;
 ResetOffsetRequestHeader::Decode(value);

- What did you expect to see?
No exception

- What did you see instead?

The line exception

  LOG_INFO("topic:%s, group:%s, timestamp:%lld, isForce:%d,isForce:%s", h->topic.c_str(), h->group.c_str(), h->timestamp, h->isForce, tempValue.asCString());

2.

[2019-03-18 06:15] ShannonDing commented on #109
Could you please check the ISSUE # 106?

[2019-03-18 16:42] jonnxu opened #118 "Support send message oneway orderly for C API"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-03-20 05:17] goldenbull opened #120 "Can not build using Visual Studio 2017"
win32_build.bat is hardcoded for Visual Studio 2015.
It's better to support both 2015 and 2017.

[2019-03-20 09:08] messense opened #121 "Question about connecting  Aliware MQ."
https://help.aliyun.com/document_detail/102895.html?spm=5176.ons.ClientManagement.2.12be6c5caayp7K#20190116.1

Producer 报错日志：

[code]

[2019-03-21 03:31] du-do commented on #121
我试了下，感觉像是不支持。用公有云SDK通过log发现topic和GID都在前面拼接了实例ID。但是即使我使用拼接后的GID和topic也不行，NAMESRV_ADDR不知道要如何对应。
`03/20/19 09:21:30:634.015 INFO 140332159832000 - Group name :GID-test[DefaultMQProducer.cpp:70]
03/20/19 09:21:30:635.184 INFO 140332159832000 - new Group name:**MQ_INST_1452639447256576_BabFsdtU%GID-test**[DefaultMQProducer.cpp:73]
03/20/19 09:21:30:639.010 INFO 140332159832000 - updateTopicRouteInfoFro

[2019-03-21 06:31] #109 closed

[2019-03-21 06:32] #100 closed

[2019-03-21 06:35] ShannonDing commented on #121
Scheduled to be available in the next release version.

[2019-03-21 06:44] #96 closed

[2019-03-21 06:50] ShannonDing commented on #120
Could you please help to optimize this compile process in Windows platform?

[2019-03-22 05:32] hl1282456555 opened #122 "Can not build x64 version using visual studio."
Do you have any plans to support build x64 version?

Or can you tell me how to change the source to support build x64 version?

[2019-03-27 12:36] hugoasdf commented on #120
yes，currently vs2015 is recommended and directly support by build script.as wished,next we will test code compilation beheavior with vs2017.then,build script will support VS150COMNTOOLS.

[2019-03-27 12:50] hugoasdf commented on #122
x86_64 build support commited already，just change build input paramater.

[2019-03-29 09:02] hl1282456555 commented on #122
I tried to change the input parameter to build x86_64, it can build success.
but if I use the lib in my project, I got many errors.

Can you give me some guides?

[2019-04-01 07:28] messense opened #124 "Question about onsChannel param"
What does `onsChannel` param mean in `setSessionCredentials` method?

https://github.com/apache/rocketmq-client-cpp/blob/a42078df3d538f88e32539f537c5d5a3c17aaf4c/include/MQClient.h#L174-L176

[2019-04-02 02:13] ShannonDing commented on #124
This method provides the ability to connect some cloud platform with your AK, SK using a specific signature, such as aliyun and so on. eg, "ALIYUN" should be set to the Channel and the c style API  is recommend to use like `ROCKETMQCLIENT_API int SetProducerSessionCredentials(CProducer *producer, const char *accessKey, const char *secretKey,const char *onsChannel);`

[2019-04-02 02:57] messense commented on #124
If I setup authentication for my local RocketMQ instance, can I use `setSessionCredentials` method? How should I pass `onsChannel` param in that case?

[2019-04-03 01:57] ShannonDing commented on #124
Just leave them none, if you wanna connect local broker without authentication.

[2019-04-03 02:23] messense commented on #124
Did you mean **with authentication**?

[2019-04-03 02:25] vongosling commented on #124
@ShannonDing I think you should make some clear when supporting some cloud service.

[2019-04-03 02:56] ShannonDing commented on #124
1. Connect Aliyun:  please fulfill the paras with AK, SK and "ALIYUN",
2. Connect local broker without authentication: leave all the paras of SessionCredentials none,
3. Connect local broker with authentication: using AK, SK, and your signature method name instead now,
4. Other could platform: not support now

[2019-04-03 02:58] messense commented on #124
@ShannonDing Thanks!

[2019-04-03 02:58] #124 closed

[2019-04-03 13:19] hl1282456555 commented on #122
I change the build config to generate an x64 binary file because the sln file did not support x64 address model.

I do not remember what the errors. I am using the activemq for my demo project now.

If my memory is right, there are many errors of the macro.

I'll try to build the binary file again.

Then I'll commit the errors to here.

[2019-04-11 02:03] #87 closed

[2019-04-11 02:04] #99 closed

[2019-04-11 02:05] #89 closed

[2019-04-12 10:02] kulallwang opened #132 "connect to broker too much time"
[2019-Apr-11 13:52:05.839388](info):unregisterClient to broker:10.4.44.76:10911
[2019-Apr-11 13:52:05.839669](info):try to connect to fd:28, addr:10.4.44.76
[2019-Apr-11 13:52:05.839762](info):Wait till event base is looping
[2019-Apr-11 13:52:05.839773](info):Notify on event_base_dispatch
[2019-Apr-11 13:52:05.853544](info):eventcb: received event:80 on fd:28
[2019-Apr-11 13:52:05.853618](info):e

[2019-04-16 23:12] ifplusor opened #134 "if invokeHeartBeat is failed, ResponseFuture will leak"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-04-17 01:18] ifplusor commented on #132
@kulallwang 主线上的 TcpTransport::waitTcpConnectEvent 里，wait 前没有判断连接状态，这个问题已经在网络层优化的 PR 里修复，目前还没有 merge

[2019-04-17 04:28] ifplusor opened #137 "too many NOTIFY_CONSUMER_IDS_CHANGED block pullThread will cause request timeout"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-04-17 06:06] #134 closed

[2019-04-17 06:06] #121 closed

[2019-04-17 06:06] #118 closed

[2019-04-17 06:07] #94 closed

[2019-04-17 06:07] #42 closed

[2019-04-17 06:08] #122 closed

[2019-04-17 06:08] #74 closed

[2019-04-26 09:59] easyforgood commented on #96
这个问题找到原因了嘛？

[2019-04-28 10:33] yichenluan opened #141 "How to concurrent pull msg?"
I want to use 'DefaultMQPullConsumer:: pull'  in my code, but what's the best practice for supporting concurrent pull?

Now, I'm using multi-thread which shares one client instance, (example: std::shared_ptr<DefaultMQPullConsumer>), is it right? any suggestion?

Also, I want to concurrent produce msgs, but this one, I believe just multi-thread is good enough.

Thanks.

[2019-04-30 07:23] ifplusor opened #142 "bug in NameSpaceUtil::formatNameServerURL"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-05-06 03:06] yichenluan commented on #141
@ShannonDing @jonnxu @ifplusor
please help me

[2019-05-06 03:34] ifplusor commented on #141
i think best practice is DefaultMQPushConsumer with CLUSTERING model, the essence of it is allocate queue between all client instances and pull messages from these queues. you can allocate queues by your strategy, one thread to many queues, or share thread pool like DefaultMQPushConsumer and consume in another thread pool.
concurrent produce is easy.

[2019-05-07 02:50] yichenluan commented on #141
@ifplusor   Thanks, But I have to use PullConsumer, because I need to manage consume offset manually and in broadcast mode  in my case.

Any idea of concurrently pull msgs?  Thank you anyway

[2019-05-07 02:56] ifplusor commented on #141
@yichenluan share thread pool for queues of topic, but only one pull task for a certain queue in your task queue.

[2019-05-07 09:50] jonnxu opened #144 "contain version info in the lib name for different version"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-05-07 09:55] jonnxu opened #145 "wrong lock flag for pull request in orderly consume when unlock"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-05-09 17:26] huqiuyun opened #148 "BUG"
[bug] NameSpaceUtil::formatNameServerURL
    unsigned int index = nameServerAddr.find(ENDPOINT_PREFIX);
    if (index != string::npos)

right:

    int index = nameServerAddr.find(ENDPOINT_PREFIX);
    if (index != string::npos)

exmaple:
    setNamesrvAddr("122.12.122.122:8080) , result: 122.122:8080

[2019-05-10 01:59] #88 closed

[2019-05-10 02:01] ShannonDing commented on #148
same as #142

[2019-05-11 02:00] appendHan opened #149 "支持多生产者实例同时向不同的mq集群写消息吗"
我是用golang调用cgo封装的方法
目前我测下来连续创建两个mq实例A、B
后创建的实例B会覆盖掉实例A
也就是说无论用哪个生产者实例发消息，都会发到后创建的生产者配置下的集群

我为两个集群设置了不同的groupId以及instanceName(当然nameServer肯定也不同)
因为看example都是单生产者实例，想问下有测试过多生产者实例的情况吗？

[2019-05-13 09:29] appendHan commented on #149
原因是动态链接库文件太久了，重新编译后新版本修复了这个bug，现在没问题了

[2019-05-13 09:29] appendHan commented on #149
原因是动态链接库文件太久了，重新编译后新版本修复了这个bug，现在没问题了

[2019-05-13 09:29] #149 closed

[2019-05-15 06:00] ifplusor commented on #142
close by #143

[2019-05-15 06:00] #142 closed

[2019-05-15 06:02] ifplusor commented on #148
fixed by PR #143

[2019-05-17 02:09] MemeTao opened #150 "async send exist a small mistake"
我遇到这样几点问题：
1. 如果消息服务未部署，producer.start() 不抛异常（最好有可以获取状态的东西）
2. 如果消息服务地址无法ping通（由于网络或是其它原因），异步发送接口 producer.send(mess,callback) 将会阻塞。

[2019-06-03 07:08] bq49 opened #153 "build error on Windows"
win32_build.bat build
.......
`
D:\Work\rocketmq-client-cpp\Win32\AsyncPushConsumer.vcxproj : error  : Project "D:\Work\rocketmq-client-cpp\Win32\AsyncPushConsumer.vcxproj" could not be found.

D:\Work\rocketmq-client-cpp\Win32\OrderlyPushConsumer.vcxproj : error  : Project "D:\Work\rocketmq-client-cpp\Win32\OrderlyPushConsumer.vcxproj" could not be found.

D:\Work\rocketmq-client-cpp\Win32\COrder

[2019-06-04 06:36] bq49 opened #155 "build error on centos"
Linux version 3.10.0-693.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC) ) #1 SMP Tue Aug 22 21:09:27 UTC 2017

gcc.compile.c++ bin.v2/libs/iostreams/build/gcc-4.8.5/release/link-static/threading-multi/bzip2.o
libs/iostreams/src/bzip2.cpp:20:56: fatal error: bzlib.h: No such file or directory
 #include "bzlib.h"  // Julian Seward's "bzip.h" header.

[2019-06-04 10:04] ShannonDing commented on #155
the bzip2-devel package should be installed before boost was compiled.

[2019-06-04 10:05] #148 closed

[2019-06-05 01:21] bq49 commented on #155
Thank you ShannonDing, It's work.

[2019-06-05 01:22] #155 closed

[2019-06-20 09:53] yichenluan opened #161 "How to use latest version of boost in my project ?"
I want to use boost::beast, that means I have to include latest boost.

But after I include it, my binary crashes(segment fault) when shut down DefaultPullConsumer...

[2019-06-27 09:05] ifplusor commented on #161
We will delete the dependence of boost in the coming months. You need modify build.sh or CMakeLists.txt to link latest boost library.

[2019-07-01 09:39] charlesflare commented on #74
same failed on mac

[2019-07-04 04:29] zhangyulu opened #164 "Nothing happened to start a consumer even if I setup a non-exist nameserver address"
I wrote a simple PushConsumer based on example/PushConsumer.cpp. I typed  a wrong nameserver port(nameserver listen on port 9876 as default), but nothing happened, no any exceptions, and I checked the DefaultMQPushConsumer::start() is a void method, so how should I detect this kind of errors? Thanks
The code shows below:

[code]

[2019-07-04 06:16] ifplusor commented on #164
wrong namesrv address don't cause any exception.

[2019-07-04 06:17] ifplusor commented on #164
but you can check log files.

[2019-07-10 09:27] ShannonDing commented on #164
For historical reasons， this API was designed as a non-return method.
IMO, the name server address is a key parameter of the client, for time being, it is better for users to check it carefully.
and take a step back, a wrong ns address should not block the start process of a client, it will throw a "no topic route" exception when sending messages.
sometimes，the ns will be set to a VIP or a domain,

[2019-07-10 23:05] ifplusor commented on #150
因为 dns 解析和创建 socket 都是同步的，这里会产生阻塞。

[2019-07-18 06:51] doodoocoder opened #166 "Add build64 on windows"
when using rocketmq-client-cpp.sln with visual studio 2015 to build rocket-client-cpp.dll ,everything is done  except 3 link errors :

1.	cant resovle the external symbol  ,MQClient.obj ,like following:
"public: static class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > __cdecl rocketmq::NameSpaceUtil::formatNameServerURL(class std::basic_string<char,struct std:

[2019-07-19 10:02] doodoocoder commented on #153
suggest use ms2015 gui not command better

[2019-07-20 13:41] jonnxu commented on #161
if you want to use your own boost version, please modify the build.sh

[2019-07-23 02:53] doodoocoder opened #168 "大神们，这个图片中的错误怎么解决？"
![image](https://user-images.githubusercontent.com/26543224/61679022-6b820380-ad37-11e9-9cf5-dbc9e989cdc4.png)
在vs2015里该加的头文件目录都加了，比如根目录中的include目录，目前还是这个错误。以前是报缺少库文件，然后就装json库，libevent库，只差最后这个问题了，纠结一个星期了。
HELP ME!!
HELP ME!!
HELP ME!!

[2019-07-27 15:32] ifplusor commented on #168
@hugoasdf

[2019-07-29 06:29] doodoocoder commented on #168
@hugoasdf 我试过了，一样的。这个项目不完整，与原来的项目相比，连win32都没有

[2019-08-03 16:59] XadillaX opened #173 "Prebuild CPP binary mirror needed"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

I think we need a mirror and an index to record each platform's prebuild CPP SDK binary libraries for each version.

Any official planning for it? Thanks.

2. Provide any additional detail on your proposed use case for this feature.

To avoid the whole project compiling by each developers and save time.

3. Indicate the impor

[2019-08-05 12:23] ShannonDing commented on #173
Good idea!
It is planned to release binary packages since version1.2.3 in this month and after it releases, the package can be downloaded from both GitHub release tag and the apache repository.

[2019-08-06 09:53] SFLAQiu commented on #74
how to solve ？

[2019-08-08 07:54] #168 closed

[2019-08-16 06:38] ShannonDing opened #177 "The License and NOTICE should be packaged in releases."
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
Review the deploy script.
- What did you expect to see?
The License and NOTICE should be packaged in releases.
- What did you see instead?
have not copied it to release
2. Please tell us about your environment:

 - What is your OS?
macOS 14.10
 - What is your client version?
1.2.2
 - What is you

[2019-08-16 10:02] ShannonDing commented on #177
see #179

[2019-08-20 06:56] #177 closed

[2019-08-20 06:58] #137 closed

[2019-08-20 06:58] ShannonDing commented on #137
close due to #156

[2019-08-20 06:59] ShannonDing commented on #75
close due to #154

[2019-08-20 06:59] #75 closed

[2019-08-20 07:27] ShannonDing commented on #145
close due to #174

[2019-08-20 07:27] #145 closed

[2019-08-20 08:22] ShannonDing commented on #173
close due to 1.2.3 being release.

[2019-08-20 08:22] #173 closed

[2019-08-20 08:28] jonnxu commented on #132
#165 Optimize transport layer resolve this issue

[2019-08-20 08:41] ShannonDing commented on #132
close due to #165

[2019-08-20 08:41] #132 closed

[2019-08-21 03:32] XadillaX commented on #173
It means this is finished?

[2019-08-21 03:38] ShannonDing commented on #173
According to the release process, all the issues under the label 1.2.3 should be closed first. and now, this release is under the voting process and will be released soon.
For detail info about this release, you can refer to http://rocketmq.apache.org/release_notes/release-notes-rocketmq-client-cpp-1.2.3/

[2019-08-26 05:42] ifplusor commented on #132
due to #60 not #165

[2019-09-03 01:45] pekingzlj commented on #96
@ifplusor  我也遇到了这个问题，请问这个问题解决了吗

[2019-09-05 12:10] neo1104 opened #182 "About mq offset in C API"
when i use pull mode in C API, i found mq offset can not  sync with broker, every time i restart the client , i recevie all the history message.  Is this right? Do I need have to   maintain the mq offset myself?

Please help me ,thank you .

[2019-09-06 05:43] jonnxu commented on #182
for pull model, it need you to maintain the offset, you need update the offset by timer

[2019-09-06 05:44] jonnxu commented on #182
@neo1104

[2019-09-13 04:51] dreaminglwj opened #184 "sh build.sh err: -Wunused-private-field"
mac os:10.13.6 (17G8030)
g++:4.9.2

[ 20%] Building CXX object project/CMakeFiles/rocketmq_static.dir/__/src/transport/TcpRemotingClient.cpp.o
cd /Users/luwenjin/Documents/work/cppSrc/github.com/rocketmq-client-cpp/tmp_build_dir/project && /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++   -I/Users/luwenjin/Documents/work/cppSrc/github.com/rocketmq-client-

[2019-09-16 14:48] ifplusor commented on #184
@dreaminglwj Could you post more detail?

[2019-09-20 13:17] ShannonDing opened #187 "[CAPI]Add send orderly messages by sharding key."
1. Please describe the feature you are requesting.
simply sending an orderly message by sharding key
2. Provide any additional detail on your proposed use case for this feature.
simply sending an orderly message by sharding key, such as :
int SendMessageOrderlyByShardingKey(CProducer* producer,
                                          CMessage* msg, const char * shardingKey, CSendResult* result);

[2019-09-22 17:55] wohenbushuang commented on #173
request for binary version for ubuntu, alpine. Failed to build from source on both OS

[2019-09-23 05:29] ifplusor opened #189 "The feature of send MessageBatch is error."
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-09-23 09:26] ShannonDing commented on #187
close due to #188

[2019-09-23 09:26] #187 closed

[2019-09-24 03:23] ShannonDing opened #191 "how to do a simple flow-control when c consumer is busy?"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
it is better to do a flow-control when consumer is busy.
2. Provide any additional detail on your proposed use case for this feature.
better to add c apis:
ROCKETMQCLIENT_API int SetPushConsumerMaxCacheMessageSize(CPushConsumer* consumer, int maxCacheSize);
ROCKETMQCLIENT_API int SetPushConsumerMaxCacheMessageSizeInMb(CPushCon

[2019-09-25 13:02] ShannonDing opened #192 "how to use userData when async send callback called?"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.
it is better for async send back to support userdata
2. Provide any additional detail on your proposed use case for this feature.
typedef void (*COnSendSuccessCallback)(CSendResult result, CMessage *msg, void *userData);
typedef void (*COnSendExceptionCallback)(CMQException e, CMessage *msg, void *userData);
2. Indicate the im

[2019-09-25 13:14] francisoliverlee commented on #192
specially for py-client to callback, can not know which message send ok for py client

[2019-09-26 07:44] ShannonDing commented on #192
reffer to #193

[2019-09-26 07:46] ShannonDing commented on #182
call for a discussion: shall we support a C API to save the offset to local file or update offset to remote broker?

[2019-09-26 07:48] ShannonDing commented on #153
link #120

[2019-09-29 10:10] nehczy opened #194 "How to compile rocketmq-cpp in aarch64/arm ?"

[2019-09-29 15:21] ifplusor commented on #194
We don’t test the client in arm platform, but you can do this same as x86 platform, and post result here.

[2019-09-30 01:55] nehczy commented on #194
After run build.sh, the libboost compile failed.

"g++"  -ftemplate-depth-128 -O3 -finline-functions -Wno-inline -Wall -pthread -m64 -fPIC -fPIC -DBOOST_ALL_NO_LIB=1 -DNDEBUG  -I"." -c -o "bin.v2/libs/serialization/build/gcc-4.8.5/release/link-static/threading-multi/xml_wgrammar.o" "libs/serialization/src/xml_wgrammar.cpp"

...failed gcc.compile.c++ bin.v2/libs/serialization/build/gcc-4.8.5/releas

[2019-10-15 07:23] lvfuchao opened #197 "When the rokcetmq cluster network is slightly interrupted, the consumer will coredump"
###  version: rocketmq-client-cpp-1.2.0

### the resulst as follow:
[code]

### corefile as follow:

[code]

[2019-10-16 20:38] ifplusor commented on #197
The version(rocketmq-client-cpp-1.2.0) has some bugs in network layer, please use latest version.
And I maintain another branch, I hope you will try it out. The repo is: https://github.com/ifplusor/rocketmq-client-cpp/tree/re-dev

[2019-10-17 06:52] lvfuchao commented on #197
ok thanks

[2019-10-21 12:22] #192 closed

[2019-10-21 12:24] ShannonDing opened #198 "Support transaction message in C apis"
1. Please describe the feature you are requesting.
Support transaction message in C apis
2. Provide any additional detail on your proposed use case for this feature.
Support transaction message in C apis like:
ROCKETMQCLIENT_API int SendMessageTransaction(CProducer* producer,
                                              CMessage* msg,
                                              CLocalTransactio

[2019-10-25 06:41] onexianjian opened #200 "zlib-devel should be installed before run build.sh"
zlib-devel 这个库在centos7下也必须先安装才可以运行build.sh。否则不但本次链接不通过。就算后面装了这个库再次执行build.sh 编译示例的时候就会一直提示链接失败。所以请一定在文档中把它和bzip2-devel写在一起。需且一定要先装完之后再运行build.sh

[2019-10-28 01:53] ShannonDing commented on #198
close due to #199

[2019-10-28 01:53] #198 closed

[2019-10-28 01:54] ShannonDing commented on #191
close due to #190

[2019-10-28 01:54] #191 closed

[2019-10-31 02:28] ShannonDing commented on #200
Could you please create a PR about it?

[2019-11-04 07:10] #197 closed

[2019-11-04 07:17] ShannonDing commented on #200
done

[2019-11-04 07:17] #200 closed

[2019-11-21 08:21] zengxiaobai opened #202 "CPU high with get timed_mutex timeout"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2019-11-22 09:14] panyongxuan opened #203 "rabbitMQ服务端重启之后，已经订阅的消费者的重新订阅问题"
在消费者(MQPushConsumer)向rabbitMQ服务端订阅成功后，重启服务器，发现消费者无法获取到订阅的信息。
请问库中提供了类似自动重连订阅之类的功能吗？
或者怎么能获取到服务器连接断开的动作，有服务器连接断开的之类回调函数吗？

[2019-11-22 10:02] ShannonDing commented on #203
Welcome to the Apache RocketMQ community and you can have a try on [RockwtMQ.](https://github.com/apache/rocketmq)
IMO, for this issue, you'd better ask somebody in the rabbitmq community to get a quick response.

[2019-11-22 10:10] #203 closed

[2019-11-25 05:28] panyongxuan opened #204 "PushConsumer reconnection exception"
场景描述（1、2、3、 4 正常，5-6有异议），步骤如下：
1.rocketMQ服务器正常运行
2.通过C接口的CPushConsumer对象连接服务器并订阅（连接和订阅成功）
3.通过mqshutdown 停止broker和namesrv
4.查看日志，发现库在的socket一直在循环尝试重新连接（大约1分钟内一直重复try to connect、invokeAsync failed、pullMessageAsync failed of addr、eventcb: received error 、can not connect to server、disconnect等重连操作）
5.超过一段时间（本机是1分钟左右）后，就停止重连操作了（最后卡在“disconnect:10.110.9.100:10911 start. event:0x7f6eac007c20[disconnect:1

[2019-11-25 05:33] panyongxuan commented on #204
补充，版本 rocketmq-client-cpp-1.2.4，使用源码编译方式

[2019-11-26 06:35] zengxiaobai commented on #204
I have met the same issue. And I solved this tmply by restart the client,becasue  sometimes consumer.shutdown will coredump.
Your error log is very much like mine, https://github.com/apache/rocketmq-client-cpp/issues/202

[2019-11-26 06:47] panyongxuan commented on #204
嗯，重新启动可以连接成功，但是重启客户端这个方法在实际中使用的时候不方便，因为这个方法的前提是上层应用侦测到TCP中断

[2019-11-27 02:52] zengxiaobai commented on #204
I use gorutines to exec ’lsof -p pid -nP‘  in cycles to detect alive connections of 10911 port. Also program  should store the tasks to disk and rebuild tasks from disk when restarting the program（https://github.com/zengxiaobai/task-manage）. In my case,  restart action is not very often.
I use the temply way above until I have time to read the source code of rocketmq-client-cpp lib and solve it.

[2019-11-27 02:53] zengxiaobai commented on #204
I use gorutines to exec ’lsof -p pid -nP‘ in cycles to detect alive connections of 10911 port. Also program should store the tasks to disk and rebuild tasks from disk when restarting the program（https://github.com/zengxiaobai/task-manage）. In my case, restart action is not very often.
I use the temply way above until I have time to read the source code of rocketmq-client-cpp lib and solve it.

[2019-11-27 03:18] zengxiaobai opened #205 "push-consumer start failed and coredump when one namesrv host cannot be resolve"
**BUG REPORT**

1. Please describe the issue you observed:
    I have configured three Namesrv server:
    rocketmq1.xxx.com:9876;rocketmq2.xxx.com:9876;rocketmq3.xxx.com:9876;
    sometimes my client coredump with log following dumped in /var/log/message when starting.
    I wonder why client cannot be started  if one of the rocketmq namesrvs cannot be connected and
    the others can be connecte

[2019-11-29 05:28] ifplusor commented on #204
这个问题应该是连接管理的逻辑在调用libevent时发生了死锁，我正在找bug触发的原因，但还没找到。

[2020-01-02 07:40] ShannonDing opened #208 "messages will be lost when send back to broker failed."
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
consuming failed, and send back to the broker
- What did you expect to see?
 this msg can be re-consumed again.
- What did you see instead?
this msg lost
2. Please tell us about your environment:

 - What is your OS?
macos 10.14
 - What is your client version?
cpp 1.2.4
 - What is your RocketMQ

[2020-01-02 08:10] ShannonDing commented on #208
link #209

[2020-01-02 14:29] whk-isat opened #211 "GetTransport of:x.x.x.x:yyyy get timed_mutex timeout"
I used producer send sync message , sometimes it will send failed, some error info  like :GetTransport of:x.x.x.x:yyyy get timed_mutex timeout
log is show blow:
![image](https://user-images.githubusercontent.com/31062226/71671630-7c3aa900-2dae-11ea-8eaa-feb0153a8260.png)
I find it in code ,
![image](https://user-images.githubusercontent.com/31062226/71671695-aab88400-2dae-11ea-9a42-cc2fbc0f0ea3.pn

[2020-01-02 14:34] whk-isat commented on #211
@ShannonDing plz

[2020-01-03 05:39] wei56 opened #212 "The DestroyProducer function have a bug"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2020-01-03 06:38] ShannonDing commented on #211
hi, it seems a bug on the transport layer and it is under checking.

[2020-01-03 06:39] ShannonDing commented on #211
link #204

[2020-01-03 06:57] ShannonDing commented on #212
yes, you are right, it is a bug here. could you please request a pr to fix it directly?

[2020-01-03 09:37] #208 closed

[2020-01-06 04:02] ustcr7 commented on #211
![image](https://user-images.githubusercontent.com/5212409/71794264-a4aaf780-307b-11ea-84e8-ebf00bfd9804.png)
![image](https://user-images.githubusercontent.com/5212409/71794273-b391aa00-307b-11ea-8dd5-ddb7d0cef587.png)
this is the stacktrace of the process，m_tcpTableLock is hold by the dead lock thread, and deadlock is caused by a libevent bug :
https://archives.seul.org/libevent/users/Aug-2012/m

[2020-01-06 15:06] ShannonDing commented on #212
close due to #213

[2020-01-06 15:06] #212 closed

[2020-01-06 15:07] #184 closed

[2020-01-06 15:09] #164 closed

[2020-01-08 03:05] ShannonDing opened #219 "the year in notice should be 2020."
the year in notice should be 2020.

[2020-01-08 03:06] #120 closed

[2020-01-08 03:07] ShannonDing commented on #194
close due to time to long.

[2020-01-08 03:07] #194 closed

[2020-01-08 03:09] ShannonDing commented on #153
close due to time too long.

[2020-01-08 03:09] #153 closed

[2020-01-08 03:42] ShannonDing commented on #219
close due to #220

[2020-01-08 03:42] #219 closed

[2020-01-08 03:43] ShannonDing commented on #144
close due to time too long.

[2020-01-08 03:43] #144 closed

[2020-01-08 13:23] Jenuce opened #221 "why not remove boost?"
We will use rocketmq,but it need boost for cpp,so we must to substitute kafka for rocketmq.

[2020-01-08 22:30] ifplusor commented on #221
We will remove boost in next major version, and we have some result in https://github.com/ifplusor/rocketmq-client-cpp/tree/re-dev

[2020-01-08 22:39] ifplusor commented on #211
@ustcr7 I have read these page. Does it mean cleanup bufferevent in eventloop thread will avoid deadlock?

[2020-01-09 02:06] ShannonDing commented on #221
for the current SDK, using the script `build.sh`, the rocketmq can be built to a dynamic or static library with a built-in boost static library, you don't need to install boost again in runtime env.

[2020-01-09 03:14] ustcr7 commented on #211
No,it's a little complex. just upgrade libevent to release-2.1.11-stable can solve the deadlock question.

[2020-01-10 04:52] #182 closed

[2020-01-10 04:52] #141 closed

[2020-01-10 07:58] #111 closed

[2020-01-10 07:59] #161 closed

[2020-01-10 07:59] ShannonDing commented on #166
close due to time to long.

[2020-01-10 07:59] #166 closed

[2020-01-10 12:36] ShannonDing commented on #150
close due to time too long.
a new issue is welcomed.

[2020-01-10 12:36] #150 closed

[2020-01-11 07:27] ustcr7 opened #224 "Get Transport timeout because of c++ try_lock_for fail spuriously"
In our service, we found "get timed_mutex timeout" error log  some times. We add some debug log and find this question is caused by c++ try_lock_for [fail spuriously](https://en.cppreference.com/w/cpp/thread/timed_mutex/try_lock_for) .

[code]

may be we can slove this question by a thread local cache or global cache with mutex。  Or use some concurrenty map just like what java client do:

[code]

[2020-01-11 10:20] #189 closed

[2020-01-11 10:21] ShannonDing commented on #189
link #255

[2020-01-11 10:21] ShannonDing commented on #189
link #225

[2020-01-13 02:09] ShannonDing commented on #224
link #211

[2020-01-13 02:13] ShannonDing commented on #211
@ustcr7 Did you reproducer this issue again after update the libevent tp 2.1.x?

[2020-01-13 06:45] ShannonDing opened #226 "There seems some memory leak in schedule task."
1. Please describe the issue you observed:

There seems some memory leak in schedule task in factory.

[2020-01-13 07:44] ustcr7 commented on #211
no.  in our service, after update to libevent 1.1.11-stable, the deadlock question is solved.

By the way, the deadlock problem is fairly easy to reproduce in test environment (concurrently send message in multi thread, kill broker and restart, then dealock is happend) ...

[2020-01-13 08:15] ifplusor commented on #211
这里的问题比较奇怪，在 CloseTransport 过程会对 TcpRemotingClient::m_tcpTableLock 加锁，然后调用 TcpTransport::disconnect -> TcpTransport::freeBufferEvent 通过操作 bufferevent 进入 libevent，最终是锁在了 libevent 里面。所以才有一系列的 timed_mutex timeout。要解决这个问题，需要先定位为什么会锁在 libevent 里。

[2020-01-13 08:16] #226 closed

[2020-01-13 08:21] #221 closed

[2020-01-13 09:00] ustcr7 commented on #211
其实就是libevent在高并发情况下，关闭连接时的bug。下面几个链接有说明。
https://archives.seul.org/libevent/users/Aug-2012/msg00010.html

https://github.com/libevent/libevent/issues/225

https://archives.seul.org/libevent/users/Apr-2013/msg00002.html

我根据代码和链接里面的解释大概画了个图：
![image](https://user-images.githubusercontent.com/5212409/72243123-07753380-3626-11ea-8159-54a83dfa08f5.png)

[2020-01-13 09:52] ifplusor commented on #211
@ustcr7 thank you for your information. I think upgrade libevent to 2.1.11-stable is necessary, 2.0.x not contain all the bug fixes. @ShannonDing

[2020-01-13 09:55] ShannonDing commented on #211
link PR #30

[2020-01-14 03:02] ShannonDing opened #229 "Send message back error when client version > 3.4.9"
for broker:
int maxReconsumeTimes = subscriptionGroupConfig.getRetryMaxTimes();
        if (request.getVersion() >= MQVersion.Version.V3_4_9.ordinal()) {
            maxReconsumeTimes = requestHeader.getMaxReconsumeTimes();
        }

 it need add maxReconsumeTimes in the protocol
maxReconsumeTimes

[2020-01-14 04:41] #202 closed

[2020-01-14 04:41] #204 closed

[2020-01-14 04:41] #211 closed

[2020-01-14 04:41] #224 closed

[2020-01-14 04:43] #229 closed

[2020-01-14 06:09] ifplusor commented on #205
DefaultMQPushConsumer::start() will call MQClientFactory::updateTopicRouteInfoFromNameServer() -> ... -> TcpRemotingClient::invokeSync() -> ... -> TcpTransport::connect() -> TcpTransport::getInetAddr(). If host cannot be resolved, evutil_getaddrinfo() will return error, then throw MQClientException. In call chain, nobody catch the exception.

[2020-01-15 07:00] ShannonDing commented on #205
it is better to keep the hostname right and try to catch exceptions on the instance starting.

[2020-01-15 07:00] #205 closed

[2020-02-17 10:14] ShannonDing opened #243 "missing license header in some files"
miss license in below files:
 - dep/build.sh
 - rpm/build.sh
 - src/producer/DefaultMQProducer.cpp
 - src/producer/TransactionMQProducer.cpp

[2020-02-17 10:52] #243 closed

[2020-02-18 03:30] ShannonDing opened #245 "Due Diligence"
## 聆听你的声音
非常感谢您对Apache RocketMQ CPP Client的使用和对社区发展的持续关注。为了更好的了解CPP客户端的使用情况和逐步进行优化，在这里，我们诚恳的邀请您花费1分钟的时间来反馈一下您的使用场景。
### 此 Issue 的目的
• 聆听来自社区的声音、让Apache RocketMQ CPP Client 变得更好
• 邀请更多的同学参与社区、贡献社区
• 了解更多的RocketMQ的使用场景，规划将来的发展
### 我们期待您能提供
请您提交一条评论, 评论内容包括但不限于:
• 您所在公司、学校或组织
• 您所在的城市、国家
• 您的联系方式: 微博、邮箱、微信 (至少一个)
• 您将Apache RocketMQ用于哪些业务场景

您可以参考下面的样例来提供您的信息：
[code]
非常感谢您的参与
Apache CPP Client社区

##

[2020-02-18 09:03] ifplusor commented on #245
公司：北京智慧星光信息技术有限公司
地点：中国北京
联系方式：weihe.yin@istarshine.com
场景与规模：在流式处理平台内部作为数据交换的缓冲器，在多个系统间作为数据发布的信息源。目前服务端大约20+broker(56core 128g 物理机)，200+队列，客户端规模2000+实例。

[2020-02-18 09:27] ShannonDing opened #247 "failed to select transaction producer to call local state checker"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
send transaction messages by producer
- What did you expect to see?
if the local executor returns an unknown state, the local checker should be called period later.
- What did you see instead?

2. Please tell us about your environment:

 - What is your OS?
macOS
 - What is your client version?
2

[2020-02-18 15:19] maurodelazeri commented on #221
@ifplusor `#include <functional>` is missing on `common.h` on `re-dev` witch works great...

is there any timeline for this new major release ?

the current master does not compile out of the box for me with `./build.sh`

http://i.imgur.com/sqdPFgH.png

[code]

[code]

[code]

[2020-02-19 05:50] ifplusor commented on #221
@maurodelazeri Don't run build.sh. If you want use re-dev branch, please read "Build and Install" section in README.md first.
rocketmq-client-cpp 2.0 coming soon, but not re-dev branch.

[2020-02-19 11:46] #247 closed

[2020-02-19 12:25] maurodelazeri commented on #221
@ifplusor im not using `build.sh` on re-dev... re-dev works fine for me, the only thing is, I had to add `#include <functional>` on `common.h`
I cant compile this the master `rocketmq-client-cpp` with `build.sh`, apparently `jsoncpp` wants a few things that only works on gcc 6 and im using 8

[2020-02-20 04:07] jonnxu commented on #245
* 公司：招商证券
* 地点：深圳
* 联系方式：jonnxu@163.com
* 场景与规模：行情衍生应用系统核心后台，主要用于行情，控制消息实时消息等核心场景，目前服务端大约9台broker，100+队列数，客户端规模30+台 4core 16g 虚拟机。

[2020-02-20 09:20] ilwoziji commented on #245
公司：亚博科技
地点：北京
联系方式：651917160@qq.com
客户端版本： v1.2.4
场景与规模：业务数据消息的传递，使用事务消息，广播消息。2主2备：4C16G

[2020-02-22 03:05] ifplusor commented on #221
@maurodelazeri  Which version of jsoncpp are you using?

[2020-02-22 13:03] ShannonDing opened #253 "The rocketmq static library can not be linked on macOS."
The static library can not be linked to macOS.

the boost, jsoncpp, and libevent static libraries have not been packaged to the rocketmq static library.

[2020-02-22 14:10] ShannonDing opened #255 "Build failed by GCC7+ using build.sh script."
OS: Ubuntu 18.04
GCC: gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)
Errors:
1.build jsoncpp 0.10.6 failed. link #58 , link https://github.com/open-source-parsers/jsoncpp/issues/828
2.build rocketmq cpp example failed because od lack of <functional> head file.

[2020-02-22 14:17] ShannonDing commented on #221
link #255
@ifplusor @maurodelazeri, Update jsoncpp to 0.10.7 and make the <functional> included in the example/common.h, I think, the build.sh for the master will work well.
is there any other suggestion?

[2020-02-24 07:16] #253 closed

[2020-02-25 12:55] maurodelazeri commented on #221
@ifplusor i was using the last version, and yes I did exactly what @ShannonDing said... works fine

[2020-02-26 02:03] francisoliverlee commented on #245
公司：VIPKID
地点：中国北京
联系方式：
mail : liwei5@vipkid.com.cn
wechat: 1026203200@qq.com
场景与规模：我们用了基于CPP的Python客户端，RocketMQ集群规模大约 30+台broker，10k+队列数，Python客户端规模100+个，主要用于支持公司核心业务，上线时间2019年8月。

[2020-02-27 06:20] vongosling commented on #245
@francisoliverlee Thanks for your comments, we really not open due diligence for python. Does your company use the cpp sdk in production?

[2020-02-28 14:37] ShannonDing opened #267 "[FEATURE]Try to support trace messages."
Try to support messages as java client.
Also link #162

[2020-02-28 14:39] ShannonDing opened #268 "[FEATURE]Try to support connecting to broker with SSL."
Try to support connecting to the broker with SSL.
add a new switch to use OpenSSL.

[2020-02-28 14:40] ShannonDing commented on #255
close due to PR merged.

[2020-02-28 14:40] #255 closed

[2020-02-29 07:02] BrentHuang opened #269 "build.sh logic error"
version 2.0.1
in build.sh,   the following if conditon is wrong, should be if [ $verbose -eq 1 ]; then

if [ $verbose -eq 0 ]; then
    echo "build jsoncpp without detail log."
    cmake .. -DCMAKE_CXX_FLAGS=-fPIC -DBUILD_STATIC_LIBS=ON -DBUILD_SHARED_LIBS=OFF -DCMAKE_INSTALL_PREFIX=${install_lib_dir} &> jsoncppbuild.txt
  else
    cmake .. -DCMAKE_CXX_FLAGS=-fPIC -DBUILD_STATIC_LIBS=ON -DBUILD_SH

[2020-02-29 07:04] #269 closed

[2020-03-01 06:45] hdchen commented on #245
公司名称：北京尚德机构在线教育有限公司
公司简介（可选）：
地点：中国-北京
联系方式：
mail：chenhoudao@sunlands.com
场景与规模：公司Cpp语言栈的业务使用了RocketMQ c++ SDK。集群规模大约 10+台broker，3k+队列数，Cpp客户端规模200+个，主要用于支持公司核心业务。
评论：
非常乐意贡献我的代码。

[2020-03-01 07:16] ShannonDing commented on #245
Glad to receive your feedback, as the Python SDK is based on the CPP core, I guess, you leave the usage scenario here.
The [due diligence for python](https://github.com/apache/rocketmq-client-python/issues/85) is opened, could you please take a minute to feedback again?
thx.
 Click Here, please,https://github.com/apache/rocketmq-client-python/issues/85

[2020-03-02 01:52] ShannonDing commented on #268
GJ. I will assign this RIP to you and after it is finished, pls call for a review.
thx.

[2020-03-03 01:10] BrentHuang opened #270 "How to connect aliyun MQ?"
version： 2.0.1

我的消费者（default push consumer）程序已经正确启动了，在阿里云rocketmq控制台上发送一条消息，我的消费者程序可以收到，这个是通的。

但是在阿里云rocketmq控制台上点“消费验证”，却一直是失败，我的消费者程序也没有收到消息。

并且通过阿里云规则引擎流转到阿里云rocketmq的消息，我的消费者程序也没有收到。

topic和group id都没有问题。

请问是什么原因呢，能帮忙分析一下吗？

[2020-03-03 04:01] BrentHuang commented on #270
consumer.setNamesrvDomain(info.namesrv_domain);
这个namesrv_domain填什么呢？

[2020-03-03 04:10] BrentHuang commented on #270
已经搞定，instance name是必填的。

[2020-03-03 07:49] BrentHuang commented on #270
class RocketMQMsgListener : public rocketmq::MessageListenerConcurrently
{
public:
    RocketMQMsgListener() {}
    virtual ~RocketMQMsgListener() {}

    virtual rocketmq::ConsumeStatus consumeMessage(const std::vector<rocketmq::MQMessageExt>& msgs)
    {
        for (size_t i = 0; i < msgs.size(); ++i)
        {
            callback_(msgs[i].getTopic(), msgs[i].getTags(), msgs[i].getMsgId(), msg

[2020-03-03 08:25] BrentHuang commented on #270
循环中，如果遇到消费失败的，就返回RECONSUME_LATER吗？该消息及其后的消息都会在下一次回调的时候传过来？

[2020-03-06 05:58] ShannonDing opened #272 "[FEATURE]Try to support messaging consuming tps status"
statistic tps about groupid@topic.

[2020-03-12 11:47] #270 closed

[2020-03-16 12:40] #267 closed

[2020-03-17 03:06] ShannonDing opened #277 "heap-use-after-free risk caused by direct deconstruction in factory manager test."
1. Please tell us about your environment:

 - What is your OS?
centos7.2
 - What is your client version?
2.0.1
 - What is your RocketMQ version?
4.6.0
3. Other information (e.g. detailed explanation, logs, related issues, suggestions on how to fix, etc):
 - The ASAN Report
 [==========]Running 2 tests from 1 test case.
 [----------]Global test environment set-up.
 [----------]2 tests from MQClient

[2020-03-17 03:07] #277 closed

[2020-03-18 06:28] ShannonDing opened #278 "Version need to update to release 2.1.0."
Version need to update to release 2.1.0.

[2020-03-18 07:01] #278 closed

[2020-03-18 09:29] ShannonDing opened #280 "Add C style apis to open/close message trace."
Add C style apis to open/close message trace.
used for C, Go and Python SDKs.

[2020-03-18 09:47] #280 closed

[2020-03-19 06:29] ShannonDing opened #282 "Send message back failed some time because timeout set to short."
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
To push consumers, set consume messages status to RECONSUME_LATER always.
- What did you expect to see?
messages were sent to the broker, and consume again later.
- What did you see instead?
sometimes, sent message back failed, time out exception thow.
2. Please tell us about your environment:

[2020-03-19 12:48] #282 closed

[2020-03-20 14:30] ShannonDing opened #284 "sometime the log in rebalance will cause core dump."
1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
let rebalance do.
- What did you expect to see?
success
- What did you see instead?
some time crash
2. Please tell us about your environment:

 - What is your OS?
macos
 - What is your client version?
2.0.1
 - What is your RocketMQ version?
4.6.0
3. Other information (e.g. detailed explanation, logs, related is

[2020-03-23 06:22] #284 closed

[2020-03-24 11:45] #268 closed

[2020-03-24 12:51] ShannonDing opened #286 "It will be crash when push consumer shutdown if close message trace"
It will be crash when push consumer shutdown if close message trace
![image](https://user-images.githubusercontent.com/16487356/77427376-3de2e200-6e11-11ea-819c-ebf4db02bec6.png)

[2020-03-25 02:59] #286 closed

[2020-03-25 12:21] morysky opened #288 "start producer failed"
OS:CentOS Linux release 7.5.1804 (Core)

I am using GO-SDK，But When I start the producer encounter this error
[start producer failed]. This is returned by CGO, So I cannot see any other errmsg.

Please help me.

[2020-03-25 12:21] morysky commented on #288
// Start the producer.
func (p *defaultProducer) Start() error {
	err := rmqError(C.StartProducer(p.cproduer))
	if err != NIL {
		return err
	}
	return nil
}

[2020-03-25 12:23] ShannonDing commented on #288
logs at {home}/logs/rocketmq-cpp

[2020-03-25 12:32] morysky commented on #288
I am a RD User, My service is running by OP's deploy tools. (Maybe $HOME is /root or www): ( So I cannot get the proper log path...

[2020-03-25 12:33] morysky commented on #288
I can run it on my develop Linux machine... But fails on this machine...

[2020-03-25 14:23] morysky commented on #288
fmt.Println("i am starting the producer |" ,*C.GetLatestErrorMessage(), "|", err, p.cproduer)

[2020-03-25 14:23] morysky commented on #288
i am starting the producer | 98 | start producer failed &{}

[2020-03-25 14:37] morysky commented on #288
boost::filesystem::create_directories: Permission denied: "//logs/rocketmq-cpp"

Solved.

[2020-03-25 14:37] #288 closed

[2020-03-26 09:35] ShannonDing opened #289 "Prepare to release 2.2.0 to support SSL."
Prepare to release 2.2.0 to support SSL.

[2020-03-26 10:05] ShannonDing opened #291 "There are error logs of heartbeat for tracemessages of push consumer."
the trace message producer use the same factory with push consumer.
it may be error logs of sending Heatbeat to the broker.

[2020-03-27 02:34] #289 closed

[2020-03-27 02:37] #291 closed

[2020-03-28 09:07] zhangyulu opened #293 "consumer stuck in rebalance and doesn't consume messsages"
1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?
let consumer run

- What did you expect to see?
keep consuming messages

- What did you see instead?
stopped consuming messages

2. Please tell us about your environment:

 - What is your OS?
CentOS Linux 7.6.1810

 - What is your client version?
commit hash: b29bf5b69eab187a813a4d7f59534a6375e32d25
commited at

[2020-03-30 07:05] wanghoneygit opened #294 "rocketmq-client-cpp/bin not found librocketmq.so, but found librocketmq.a"
/Library/Developer/CommandLineTools/usr/bin/libtool: warning same member name (log.o) in output file used for input files: libevent.a(log.o) and: libevent_core.a(log.o) due to use of basename, truncation and blank padding
/Library/Developer/CommandLineTools/usr/bin/libtool: warning same member name (numeric.o) in output file used for input files: libboost_locale.a(numeric.o) and: libboost_locale.a

[2020-03-30 07:06] zhangyulu commented on #293
[292645_rocketmq-cpp.log](https://github.com/apache/rocketmq-client-cpp/files/4401282/292645_rocketmq-cpp.log)
这是实际的log文件，从17:37左右开始出现停止消费的问题，从17:41开始循环打印上述log

[2020-03-30 07:10] ShannonDing commented on #294
here in the pictures, On the macOS platform, the library names xxx.dylib.
![image](https://user-images.githubusercontent.com/16487356/77884852-7151c080-7298-11ea-975d-4b8588bced21.png)

[2020-03-30 07:55] #294 closed

[2020-04-02 03:47] ShannonDing opened #296 "Ci error on master due to openssl source download failed."
--2020-04-02 02:54:58--  https://www.openssl.org/source/openssl-1.1.1d.tar.gz
Resolving www.openssl.org (www.openssl.org)... 172.224.192.29, 2600:1402:800:19c::c1e, 2600:1402:800:18d::c1e
Connecting to www.openssl.org (www.openssl.org)|172.224.192.29|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2020-04-02 02:54:59 ERROR 404: Not Found.

[2020-04-02 05:56] #296 closed

[2020-04-07 08:41] bilinxing opened #297 "Use PID to write log file name, old log file cannot be cleaned after program restart。"
Why is there no interface for setting the log file name and log path？
After my program restarts, the disk is easily filled with rocketmq client logs。

[2020-04-10 03:27] yiitz commented on #293
我生产环境也遇到这个问题了，从1.2.3升级到2.2.0之后

[2020-04-10 06:35] ShannonDing commented on #293
是顺序消息还是普通消息消费？ @yiitz 方便提供一下消费停止时间附近的日志，看下是不是负载均衡过程中丢失了pullrequest。

[2020-04-10 06:36] ShannonDing commented on #293
这个附件太大了，下不动。 方便的话，把有问题附近的日志单独取一下。

[2020-04-15 01:17] yiitz commented on #293
是普通消息消费，应用跑docker里的，日志重启无了，这几天暂时没有出现。

[2020-04-15 05:46] he1016060110 opened #298 "DefaultMQPushConsumer callback里面如果部分成功如果处理"
对于DefaultMQPushConsumer，代码里面写死了maxNum为32，但是一次消费32条，部分成功，部分失败了，我该怎么在callback里面返回哪些消息成功，哪些需要reconsume，因为默认status只有一个，也就是要么全成功，要么全失败。

[2020-04-15 06:07] he1016060110 commented on #298
我看到consumeMessage传的msg引用
ConsumeStatus consumeMessage(const std::vector<MQMessageExt>& msgs) = 0;
我应该可以把这个vector改了，然后传RECONSUME_LATER吧

[2020-04-15 06:20] ShannonDing commented on #298
once the RECONSUME_LATER return, all the messages in the vector will be sent back to the broker. you should do not change the message vectors.
and more, Issues are generally used for bug reports and feature requests, so if you have any questions about Apache  RocketMQ, it is recommended to discuss it on the mailing list first, the mailing list [address](https://rocketmq.apache.org/about/contact).

[2020-04-15 06:20] #298 closed

[2020-04-15 06:45] ifplusor commented on #298
You can set consume batch size to 1 by DefaultMQPushConsumer::setConsumeMessageBatchMaxSize.

[2020-04-16 01:24] he1016060110 commented on #298
tried.the concurrency is so low.so i suggest that consumeMessage should contains two params,like solution below
consumeMessage(const std::vector& msgs, std::vecotr & batchStatus)
so that we can send message back according to the different status of every message of the batch.

[2020-04-16 03:01] ifplusor commented on #298
@he1016060110 Call sendMessageBack by yourself, then return RECONSUME_LATER. But latest client not expose sendMessageBack in DefaultMQPushConsumer. Add it, and call DefaultMQPushConsumerImpl#sendMessageBack

[2020-04-16 03:01] ifplusor commented on #298
@ShannonDing Can we expose sendMessageBack in DefaultMQPushConsumer?

[2020-04-16 07:21] zhangyulu commented on #293
[292645_rocketmq-cpp.log](https://github.com/apache/rocketmq-client-cpp/files/4485477/292645_rocketmq-cpp.log)

另外，我用的是顺序消息

[2020-04-16 09:25] ShannonDing commented on #293
这里可能是个顺序消息的BUG。需要进一步排查下。
参考你的日志，
1. 17:37:50网络抖动，拉取消息延迟1s重新触发
`
[2020-Mar-29 17:37:50.339075](error):pullMessageAsync failed of addr:10.10.10.11:10911, mq:MessageQueue [topic=browser, brokerName=broker-CuhDxsHLYZA-1, queueId=10][pullMessageAsync:490]
[2020-Mar-29 17:37:50.339148](info):Pull MessageQueue [topic=browser, brokerName=broker-CuhDxsHLYZA-1, queueId=10] occur exception, restart 1s  later

[2020-04-17 02:31] ShannonDing commented on #298
IMO, It is not recommended to open this capability. In order to deal with simplicity and ensure the reliability and order as much as possible, the logic of sending back the broker is handled internally by the client and guarantees the success of the return. If this function is opened, it means that the failure to send back is uncontrollable, which increases the risk of message loss.
In addition, i

[2020-04-17 02:33] ShannonDing commented on #293
@zhangyulu @yiitz Could you pls have a  review on the PR #293?
If the issue still occur, pls feel free to reopen this issue.

[2020-04-20 02:43] he1016060110 commented on #298
I can do this ,although it's not elegant.And I still hold the point that there should be status vector param for consumeMessage.

[2020-04-22 07:24] he1016060110 opened #301 "Threads pool improvement"
**FEATURE REQUEST**
Recently I'm writing a grpc rocketmq proxy server because php/nodejs are the main languages in our company and we cannot use this sdk directly.
I found out that this sdk will create more than 10 threads for every produce/consume client.They include at least one ConsumeTP, 4 NetworkTP and several timer thread. If I initiate multiple consumer client, I get hundreds of threads in

[2020-04-22 12:14] ifplusor commented on #301
ConsumeTP and some timer belong to Consumer, and NetworkTP and others belong to MQClientFactory. if you create all Consumer with same instance name, MQClientFactory will be reuse. Number of ConsumeTP can be set by Consumer. If you SDK in different process, it is useless.

[2020-04-22 15:22] ShannonDing opened #303 "Crash when network is down on Mac."
1. send messages
2. shutdown wifi
3. open wifi
4. producer crash
[code]

[2020-04-23 02:01] he1016060110 commented on #301
thanks，NetworkTP can be reused by using same instance name.And there are still too many threads.I am trying to figure  out what each thread is for.😂

[2020-04-23 02:32] ifplusor commented on #301
@he1016060110 I am maintaining another branch, if you want to customize thread pool, I will give sb a hand.

[2020-04-23 04:51] he1016060110 commented on #301
Is it the branch `re_dev`

[2020-04-23 05:00] ifplusor commented on #301
@he1016060110 You are right.

[2020-04-23 09:38] #272 closed

[2020-04-24 03:22] ShannonDing opened #304 "Recode pull RT and pull TPS for push consumer."
1. recode  pull RT
2. recode  async pull RT
3. recode pull TPS

[2020-04-26 02:17] #304 closed

[2020-04-27 13:43] ShannonDing opened #306 "the binary message body should be added to the signatures."
in the src/common/ClientRPCHook.cpp,
[code]
We should add the message body to signature as default.

[2020-04-28 02:09] #306 closed

[2020-05-16 23:49] BrentHuang opened #308 "too many logs: Get topic[TBW102] route failed [TOPIC_NOT_EXIST].[getTopicRouteInfoFromNameServer:324]"
client version: 2.1.0
server: aliyun rocketmq.

[2020-May-17 07:41:33.987337](warning):ConsumeMessageBatchMaxSize:1[logConfigs:1078]
[2020-May-17 07:41:33.987344](warning):MaxMsgCacheSizePerQueue:1000[logConfigs:1079]
[2020-May-17 07:41:33.987351](warning):MaxReconsumeTimes:-1[logConfigs:1080]
[2020-May-17 07:41:33.987358](warning):PullMsgThreadPoolNum:4[logConfigs:1081]
[2020-May-17 07:41:33.9873

[2020-05-20 10:34] BrentHuang opened #310 "crash on ubuntu 18.04, verson: 2.1.0"
(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x00007fe8b6220801 in __GI_abort () at abort.c:79
#2  0x00007fe8b6875957 in ?? () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#3  0x00007fe8b687bab6 in ?? () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#4  0x00007fe8b687baf1 in std::terminate() () from /usr/lib/x86_64-linux-gnu/libstdc++.so.6
#5  0x00007fe8b

[2020-05-21 01:44] ifplusor commented on #310
Please check your network.

[2020-05-22 02:41] BrentHuang commented on #310
网络有波动，也不能崩吧？
If the network fluctuates, you can't kill the process

[2020-05-22 03:32] ifplusor commented on #310
崩溃是因为dns解析失败，抛出的异常没有处理。这么做，一定程度上是提醒namesrv设置错误。

[2020-05-22 03:36] ifplusor commented on #303
Same as #310

[2020-05-22 03:46] BrentHuang commented on #310
您的出发点我明白，但是线上的服务器，网络一有波动就挂了，不能这么搞。

[2020-05-22 04:20] ifplusor commented on #310
@BrentHuang See #311

[2020-05-25 01:19] phaniranjan commented on #301
Recently we tried to evaluate RocketMQ CPP client for our project, while trying to execute examples, tps_thread is null exception is thrown. while debugging tps_thread is not constructed/initialized in the code references. Is this related to any settings/configuration? Can you please provide any pointers to the usage of the client.
![image](https://user-images.githubusercontent.com/6041380/8276977

[2020-05-25 01:41] ifplusor commented on #301
@phaniranjan What example do you run?

[2020-05-25 01:47] phaniranjan commented on #301
@ifplusor I have tried AsyncProducer.cpp & AsyncPushConsumer.cpp, below is the output, not sure if there is any configuration details missing
[vectone@localhost example]$ !666
./AsyncProducer -n "localhost:9876" -g "TestGroup" -t "MyTopicMessage"
nameserver: localhost:9876
topic: MyTopicMessage
groupname: TestGroup
produce content: msgbody for test
msg  count: 1
thread count: 8
tps_thread_ is null

[2020-05-25 01:57] ifplusor commented on #301
@phaniranjan This is a bug in TpsReportService::start(), please create a new issue, and I will commit a PR to resolve this bug immediately.

[2020-05-25 02:20] ifplusor commented on #301
@phaniranjan See #313

[2020-05-26 23:12] #303 closed

[2020-05-26 23:12] #310 closed

[2020-05-28 13:39] #308 closed

[2020-06-03 01:07] 41405465 opened #314 "After deleting the log file in the log directory, it will crash at 0 o'clock the next day"
After deleting the log file in the log directory, it will crash at 0 o'clock the next day！
OS: CentOS Linux release 7.5.1804 (Core)

(gdb) where
#0  0x00007f145123e277 in raise () from /lib64/libc.so.6
#1  0x00007f145123f968 in abort () from /lib64/libc.so.6
#2  0x00007f1451b4d7d5 in __gnu_cxx::__verbose_terminate_handler() () from /lib64/libstdc++.so.6
#3  0x00007f1451b4b746 in ?? () from /lib64/

[2020-06-18 02:20] DrDao opened #316 "Windows环境编译各种报错"
Windows环境编译各种报错，真的就没有人解决一下嘛？

[2020-06-26 04:11] eliaszoo opened #317 "(CSendResult.cpp.o) has no symbols"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2020-07-01 10:08] memocong opened #318 "Consumer stuck and then logs stopped updating"
Description of backgound:
a. The rocketmq server is deployed on aws server (linux) in Ireland

b. Only one  process is launched to run celery worker within docker (debian9.0) deployed on Aliyun server (Linux 3.10.0-862.14.4.el7.x86_64 x86_64)

c. Every 80 seconds, a task is sent to the celery worker, then the worker will start rocketmq consumer (rocketmq-client-python 2.0.0) to fetch messages from

[2020-07-02 01:41] ifplusor commented on #318
Could you post stacktrace for every thread?

[2020-07-02 02:14] memocong commented on #318
Is there any other place to get the stacktrace of every thread?

In "Description of issue", it is clearly explained that the logs stopped updating and the final log is pasted for reference

[2020-07-02 05:22] ifplusor commented on #318
@memocong You can get stacktrace from gdb. I want to know the status of each thread that created by rocketmq.so, and find out why consumer is stuck.
You can also try to use re_dev branch, I think this version is more robust.

[2020-07-02 05:30] ifplusor commented on #318
Frequently start and shutdown consumers is a bad way to use, which will cause rebalance and cause duplicated consume.

[2020-07-02 06:55] memocong commented on #318
@ifplusor , I agree with you. However, is there a recommended way to monitor whether rocketmq consumers get stuck or broken or disconnected? And, if the consumer gets stuck, what action should be taken?

[2020-07-02 07:05] ifplusor commented on #318
Client can automatically recover when disconnected, but no good way to detect stuck. If you have stuck, I think you have encountered a bug.

[2020-07-02 07:52] memocong commented on #318
@ifplusor , I see. I will try to run rocketmq consumer without restarting it and monitoring its status for some while.

[2020-07-07 02:13] yaoxiaoting opened #319 "部分消息消费不到"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2020-07-07 02:13] #319 closed

[2020-07-13 09:37] YunL0ngLee opened #320 "CoreDump"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2020-07-13 09:37] #320 closed

[2020-07-13 10:15] #317 closed

[2020-07-14 07:19] YunL0ngLee opened #321 "Core dump on runtime"
OS: Centos7

client version:2.2.0

RocketMQ version:4.7.1

----------------------test code-------------------------------
#include <unistd.h>
#include <stdlib.h>
#include <iostream>
#include <string>
#include "CPushConsumer.h"
#include "CMessageExt.h"
#include <boost/asio.hpp>

using namespace std;

// consume message
int doConsumeMessage(struct CPushConsumer *consumer, CMessageExt *msgExt)
{

[2020-07-16 05:49] fluyu opened #322 "Consume Offset been Updated Incorrectly with Orderly Push Consumer"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

    1. Start consuming using orderly PusherConsumer.
    2. Send one message.
    3. Hold the message inside the consume callback(ie. not returning the callback)

- What did you expect to see?
    The message should not been commited to the broker and the consumer group should have 1 message de

[2020-07-16 09:49] fluyu commented on #322
Seems I might have found some clue.

When the consume orderly service tries to consume the queue([ConsumeMessageOrderlyService.cpp:183](https://github.com/apache/rocketmq-client-cpp/blob/master/src/consumer/ConsumeMessageOrderlyService.cpp#L183)):
[code]
it may move the only one pending message from `m_msgTreeMap` into `m_msgTreeMapTemp`, which makes the next pull consider all messages been consum

[2020-07-24 03:36] ifplusor commented on #322
I think u are right but use getCacheMsgCount() to check cache if empty is better, and getCacheMsgCount need to change to below:

[code]

[2020-07-24 04:05] ifplusor commented on #322
@fluyu Could you pull a request to fix this issue?

[2020-07-24 12:08] fluyu commented on #322
Thanks for the suggestion, followed and verified, works like a charm.

My pleasure and done. #324

[2020-07-24 21:58] #322 closed

[2020-07-29 06:22] dongbula opened #325 "Something wrong when run "bin/SyncProducer" in two or more threads(specified by -T)"
The running result will be like:
[code]

The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you ca

[2020-07-29 08:01] zongtanghu commented on #325
Hi @ShannonDing @jonnxu @githublaohu @duhenglucky   please help to see this issue.

[2020-08-01 14:29] sdfz opened #326 "rocketmq client cpp Is there a subscription function"

[2020-08-01 14:38] ifplusor commented on #326
Of course, `void subscribe(const std::string& topic, const std::string& subExpression)` in DefaultPushConsumer

[2020-08-01 14:39] #326 closed

[2020-08-04 08:58] cafesun opened #327 "RocketMQ-Client-CPP Cannot Support IPV6"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2020-08-04 09:24] ifplusor commented on #327
I do this in https://github.com/ifplusor/rocketmq-client-cpp/tree/re_dev, you can test it.

[2020-08-14 09:29] ghost opened #330 "Pull consumer"
pull consumer, why not support persist messageQueue offset to broker?

[2020-08-19 00:09] ifplusor commented on #330
In pull mode(DefaultMQPullConsumer), you need manage offset by yourself. We are developing a new LitePullConsumer, it will do more things. Please see Java client for more details.

[2020-08-21 14:12] fluyu opened #331 "Duplicated Message Consumption in Orderly PusherConsumer"
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

- What did you expect to see?

- What did you see instead?

2. Please tell us about your environment:

 - What is your OS?

 - What is your client version?

 - What is your RocketMQ version?

3. Other information (e.g. detailed explanation, logs, related issues, suggestions on how to fix, etc):

[2020-09-08 03:09] #330 closed

[2020-09-16 07:42] taroyutao opened #332 "如何关闭 /root/logs/rocketmq-cpp日志"
python sdk 需要关闭或者设置日志打印的级别，因为底层依赖：client-cpp

https://github.com/apache/rocketmq-client-python/issues/92

所以这个日志打印的级别该如何设置？

[2020-09-16 07:49] ifplusor commented on #332
There are APIs that can set the level of log, but can not disable log.

[code]

[2020-09-16 07:49] #332 closed

[2020-09-21 09:17] #301 closed

[2020-09-21 09:18] #318 closed

[2020-09-27 15:27] bin1221 opened #333 "The version of libevent in the README should be 2.1.11"
The version of  libevent in the README should be 2.1.11 instead of 2.0.22. openssl-1.1 support is available in libevent-2.1 releases.

[2020-09-28 03:12] ifplusor commented on #333
@kevinrsa You are right. Cloud you make a PR to fix it?

[2020-09-28 08:42] vongosling commented on #333
@kevinrsa will you?

[2020-09-29 01:36] kevinrsa commented on #333
I'm afraid not. It seems that openssl can download it first before installation.

[2020-09-29 03:39] bilinxing commented on #270
同样的疑问，请问有人解答么

[2020-09-29 03:43] ifplusor commented on #270
消费失败返回RECONSUME_LATER，消息会发回broker，过一段时间会重新消费。

[2020-09-29 03:46] ifplusor commented on #270
单条失败的情形，目前没做特殊处理。可以再创建一个producer，手动发回broker。

[2020-11-04 12:11] sikey647 opened #335 "PushConsumer shutdown cause Segmentation Fault"
## 1、issue description
* There is a segment error when I execute the following code. it seems that it occurred when executed shutdown().
[code]
* output：
  consume start!
  msg id: AC1DF0286BFA2196071D13AC8BD50000, queue id: 0, msg body: this is the test message!
  segmentation fault(core dump)

## 2、environment info
* OS:  CentOS Linux release 7.5.1804 (Core)
* client version:  rocketmq-client-cp

[2020-11-13 09:30] genius77 opened #336 "c++ Client how to reply from java producer.reqeust(msg, 30000)"
as titile:
**c++ client how to reply from java producer.reqeust(msg, 30000)?**

[2020-11-13 13:20] ifplusor commented on #336
you can test https://github.com/ifplusor/rocketmq-client-cpp

[2020-11-13 13:28] ifplusor commented on #335
Please test the latest version(v2.2.0).

[2020-11-13 13:28] #335 closed

[2020-11-13 13:31] #336 closed

[2020-11-13 13:32] #327 closed

[2020-11-13 13:35] ifplusor commented on #335
Same as #321

[2020-11-13 14:44] genius77 commented on #336
能说具体点，在哪一个文件中有示例？
我这边是CPP Client， 如何与Java "[rocketmq-spring](https://github.com/apache/rocketmq-spring)" 项目中的 producer.reqeust(msg, 30000) 接上，我能收到来自它的消息，但是，无法回复它的消息?

[2020-11-13 15:08] ifplusor commented on #336
当前官方库的主分支还不支持RR模式，我上上面发的是另一个经过重构的分支，跟官方cpp不完全兼容，RR的样例可以参考https://github.com/ifplusor/rocketmq-client-cpp/blob/re_dev/example/RequestReply.cpp

[2020-11-13 15:08] ifplusor commented on #336
当前官方库的主分支还不支持RR模式，我上上面发的是另一个经过重构的分支，跟官方cpp不完全兼容，RR的样例可以参考https://github.com/ifplusor/rocketmq-client-cpp/blob/re_dev/example/RequestReply.cpp

[2020-11-28 12:38] shuyanzhu opened #337 "bug, should rethrow error"
https://github.com/apache/rocketmq-client-cpp/blob/a42de735a3319a859f6108c9e714ed715fe45969/src/consumer/DefaultMQPullConsumerImpl.cpp#L290

[2020-11-28 22:55] ifplusor commented on #337
It looks like the code has some issue.

[2020-11-29 03:06] shuyanzhu commented on #337
User should catch this exception and may call the Pullback::onException(MQException &), and then delete call back if it was allocated in heap when Pullback::onException(MQException &) don't "delete this", just like the code in send message( another issue in send user should konw is the AutoDeleteSendback don't work normally in this case because it is called by SendCallbackWrap::onException ). It's

[2020-11-29 03:22] shuyanzhu commented on #337
I mean all Pullbacks which were allocated in heap need to "delete this" in onSuccess or onException because there is no AutoDeletePullback to be inherited by user. Sendback does has AutoDeleteSendback, but if there is exception occurs in send AutoDeleteSendback don't work, so user should catch exceptions and delte Sendback mannually. I am confused why Pullback doesn't has AutoDelete like Sendback

[2020-11-30 02:31] vongosling commented on #337
@ShannonDing ping

[2020-12-01 16:54] shuyanzhu commented on #337
Maybe I make a pr when I'm free?

[2020-12-01 23:29] ifplusor commented on #337
@shuyanzhu Welcome to PR.

[2020-12-29 03:28] 41405465 opened #339 "Log related issues"
1. The log directory cannot be configured
2. The log file name should distinguish the year, month and day
3. Delete all log files in the log directory, new logs will not generate new log files, and log files will not be generated until 0:00 the next day
4. Delete all log files in the log directory, it will crash at 0 o'clock the next day, the cause of the crash is that the log file does not exist

[2020-12-29 03:33] ifplusor commented on #339
link #297 #314

[2020-12-29 03:39] messense commented on #339
Logging is currently a mess in this library.

[2020-12-29 05:45] lirong-Lee opened #340 "Load balancing message delay"
Two clients A and B subscribe to a topic, and a Producer continuously pushes it.
    When A receives a message, kill A and observe whether the message is pushed to B. If it is pushed to B, pull up A, and kill when A receives the message Drop A and repeat this operation.
    The first few messages will be pushed to B. When A does not start, some messages will accumulate. Will be pushed to B in half

[2020-12-29 05:52] ifplusor commented on #340
@lirong-Lee I did not understand what you mean, you can say it more clearly?

[2020-12-29 06:05] lirong-Lee commented on #340
The problem is: if a CPushConsumer is permanently closed, it may cause some messages to be delayed for half an hour.
The specific operation is：
1、Two clients A and B CLUSTERING subscribe to a topic, and a Producer continuously pushes it.
2、When A receives a message, kill A
3、observe whether the message is pushed to B. If it is pushed to B, pull up A
4、Repeat 2 and 3 operations
5、After repeating op

[2020-12-30 03:14] zhangyulu commented on #293
在线上又复现了若干次。用的版本是基于commit  #b29bf5b69eab187a813a4d7f59534a6375e32d25，之后把PR #300中的变更手动合并进来，日志如下：
[389_rocketmq-cpp.log](https://github.com/apache/rocketmq-client-cpp/files/5752886/389_rocketmq-cpp.log)
在03:59:03时出现"wait response timeout of heartbeat"
之后的几个小时里，都会打出
oneway updateConsumeOffsetToBroker of mq:MessageQueue [topic=topic_xxx, brokerName=broker-Cluster-kseILdRbPSF-0, queueId=0], its offset i

[2020-12-30 03:24] zhangyulu opened #341 "reopen issue 293"
#293 中描述的问题又出现了若干次
目前使用的版本是基于commit b29bf5b69eab187a813a4d7f59534a6375e32d25，然后将PR #300 中的修改手动merge进去（因为这两个版本之间改动较大，引入了ssl相关的功能，但是在我的环境中用不上）
具体的日志已经在原issue中列出
https://github.com/apache/rocketmq-client-cpp/issues/293#issuecomment-752312388
使用的是Push模式的顺序消息

[2020-12-30 06:33] ifplusor commented on #341
这个问题继续在 #293 中讨论吧

[2020-12-30 06:33] #341 closed

[2020-12-30 06:40] ifplusor commented on #293
version: commit b29bf5b69eab187a813a4d7f59534a6375e32d25 + patch #300
consume model: push-orderly

[2020-12-30 07:55] ifplusor commented on #293
@zhangyulu master分支的消费管理有点乱，你能把你当前使用的源码库发出来吗？或者，你也可以尝试切换到rd_dev分支。

[2020-12-30 08:12] zhangyulu commented on #293
@ifplusor
[rocketmq-client-cpp-debug.tar.gz](https://github.com/apache/rocketmq-client-cpp/files/5753471/rocketmq-client-cpp-debug.tar.gz)

[2021-01-09 05:01] ifplusor commented on #340
Can you try this with new version in re_dev branch?

[2021-01-11 03:38] lirong-Lee commented on #340
Hi Ifplusor

I use re_dev branch to test it is normal and will not be delayed. Is there any design difference between this branch and master?

[2021-01-11 03:50] ifplusor commented on #340
@lirong-Lee The branch of re_dev is a refactored version, it has many improvements, and the dependence of boost was removed. It will be master in the future.

[2021-01-11 05:43] ifplusor commented on #331
There is no relation between nextBeginOffset and committed offset, nextBeginOffset = pullOffset + returnMsgListSize. The process of pull messages in one consume queue is serial. In my opinion, the probability of this case is to pull messages from the slave broker, and it has not the latest messages.

[2021-01-11 05:46] ifplusor commented on #321
@YunL0ngLee Could you test this case in re_dev branch?

[2021-01-11 06:03] lirong-Lee commented on #340
@Ifplusor PushConsumer in the example of rd_dev uses BROADCASTING subscription, it will report an error and cannot receive the message,Use CLUSTERING to receive messages normally.

The error message is：
[MQClientException] msg: create offset store dir failed: /home/lirongLee/.rocketmq_offsets/::1@DEFAULT/myGroup, error: -1, in </home/lirongLee/MySoft/rocketmq/tls/rocketmq-client-cpp-re_dev/src/con

[2021-01-11 06:17] ifplusor commented on #340
@lirong-Lee Please check which dir create failed in path of "/home/lirongLee/.rocketmq_offsets/::1@DEFAULT/myGroup"

[2021-01-11 06:22] lirong-Lee commented on #340
@ifplusor I used mkdir -p /home/lirongLee/.rocketmq_offsets/::1@DEFAULT/myGroup in advance.
This will not report the error log, but will not receive the message.
I think it will not be caused by the failure of the directory creation.

[2021-01-11 07:04] ifplusor commented on #340
@lirong-Lee I have fixed this issue, you can update the source code.

[2021-01-11 07:36] lirong-Lee commented on #340
@ifplusor
No error will be reported when running now, but the message cannot be received using BROADCASTING, and the message can be received using CLUSTER.
BROADCASTING should still have problems.

[2021-01-11 08:29] ifplusor commented on #340
@lirong-Lee I have fixed it, again.

[2021-01-11 09:02] lirong-Lee commented on #340
@ifplusor The problem has been solved

[2021-01-11 09:02] #340 closed

[2021-01-20 02:50] zhangyulu commented on #293
@ShannonDing 能否帮忙看一下这个问题呢

[2021-01-20 03:06] ifplusor commented on #293
@zhangyulu 你这个问题我之前看了，从已有的日志里没有分析出问题的原因，建议换 re_dev 分支的版本看看效果。

[2021-01-20 03:35] zhangyulu commented on #293
re_dev分支稳定性如何？另外昨天试了一下，部分api不兼容(如setSessionCredentials)，需要修改代码

[2021-01-20 03:58] ifplusor commented on #293
比master稳定很多。re_dev的api重新设计了，所以不兼容。但后面可能还会加一层专门用于向后兼容的wrapper，社区正在评估。

[2021-01-20 07:40] zhangyulu commented on #293
刚刚试了一下，用re_dev分支编译出来example里面的OrderlyConsumer去消费一个topic，一直没法拉取消息，但使用PushConsumer就能够正常消费
[8348_rocketmq-cpp.log](https://github.com/apache/rocketmq-client-cpp/files/5840847/8348_rocketmq-cpp.log)

[2021-01-20 08:51] ifplusor commented on #293
@zhangyulu RebalanceImpl::lock() 方法有bug，我已经改了。

[2021-01-20 11:07] zhangyulu commented on #293
合并更改之后还是无法消费
[tmp.log](https://github.com/apache/rocketmq-client-cpp/files/5841922/tmp.log)

[2021-01-20 11:40] ifplusor commented on #293
@zhouxinyu 调用下面这个命令看一下线程栈，PID是你的进程号

[code]

[2021-01-20 12:37] zhangyulu commented on #293
[stack.log](https://github.com/apache/rocketmq-client-cpp/files/5842403/stack.log)

[2021-01-21 05:34] ifplusor commented on #293
@zhangyulu 我做了一些测试，但没办法复现你的遇到的问题。在你的日志里，负载均衡、mq加锁、offset上报都是正常的。你可以先检查一下参数设置和consumer group的积压情况，并在```DefaultMQPushConsumerImpl::executePullRequestImmediately()```函数里加一些日志，验证消息拉取是否正常。

[2021-01-27 07:35] kevinrsa opened #342 "string terminator '\0' should be considered here"
string terminator '\0' should be considered here:

https://github.com/apache/rocketmq-client-cpp/blob/9008c14d9c34a4f0b4a67417000612348157027e/src/common/ClientRPCHook.cpp#L56

I use `valgrind` to run my program, it always prompts the following error. According to the source code, this should be because there is no string terminator `\0`

[code]

[2021-01-27 07:46] ifplusor commented on #342
@kevinrsa I think use '%.*s' instead of '%s' is ok. Please test it,  and welcome to pr.

[code]

[2021-01-27 08:01] ifplusor commented on #337
@shuyanzhu  I check this issue again, and I think the version of re_dev branch meets your expectations.

[2021-01-27 08:13] shuyanzhu commented on #337
Looks like there is no pull API anymore, nice(Doge)

[2021-01-27 08:16] shuyanzhu commented on #337
Should I close this issue?

[2021-01-27 08:19] ifplusor commented on #337
A new LitePullConsumer is wip.

[2021-01-27 08:22] kevinrsa commented on #342
Thanks for the suggestion, it work.

---

This is another valgrind error message, it should be '%d'.

https://github.com/apache/rocketmq-client-cpp/blob/9008c14d9c34a4f0b4a67417000612348157027e/src/transport/TcpRemotingClient.cpp#L625

[2021-01-27 08:22] ifplusor commented on #337
Improving the master branch is also beneficial, welcome to PR.

[2021-01-27 08:29] ifplusor commented on #342
@kevinrsa Yeah. It looks so many issues in the master branch. Could you test the re_dev branch, and give the community some suggestions?

[2021-01-28 01:22] lirong-Lee opened #343 "The re-dev branch cannot be compiled under windows"
The re-dev branch cannot be compiled under windows
      The project in the win32 folder is actually wrong. Many files have been deleted, but they are still in the project. I suspect that the project file is not maintained.
      The vs project generated by cmake cannot be compiled
      The win32_build.bat script has not been modified, and it says that it depends on boost

[2021-01-28 03:58] ifplusor commented on #343
The build script on windows is not update, I have not a windows device. But I think it is not a hard work with latest Visual Studio by cmake.

[2021-01-28 04:13] lirong-Lee commented on #343
@ifplusor Can you take the time to update it?
 The reason I do not use the master version is that there is a bug in the master version that the project team cannot accept #340

[2021-01-29 06:17] lirong-Lee opened #344 "OrderlyProducer of the re-dev branch will report errors when sending messages quickly"
The system I use is centos8
OrderlyProducer of the re-dev branch will report errors when sending messages quickly
Use OrderlyProducer.cpp in the example

Some messages will report the following error and failed to send.

./OrderlyProducer -nhttp://172.18.139.94:9876 -t321321 -m99 -gmyGroup
send failed: [RemotingTooMuchRequestException] msg: sendSelectImpl call timeout, error: -1, in </home/e061468

[2021-01-29 07:58] ifplusor commented on #344
@lirong-Lee I think you need to set a longer timeout.

[2021-01-29 08:12] lirong-Lee commented on #344
@ifplusor
The example code OrderlyProducer.cpp I used has not been modified.
“producer->set_send_msg_timeout(3000);”
Add print before the error, I find that the timeout timeI is 0 when the error occurs.
Only the first time is 3000.
I don't understand why this timeout time becomes 0

[2021-01-29 08:14] ifplusor commented on #344
@ifplusor Please show more log of cpp client.

[2021-01-29 08:15] ifplusor commented on #344
@lirong-Lee namesrv not support http.

[2021-01-29 08:38] lirong-Lee commented on #344
@ifplusor
hi ifplusor，I have two computers, 172.18.139.94, 172.18.132.124,
94 is master, 124 is slave, they have a virtual ip172.18.132.100
The following is part of the log：

[2021-01-29 16:41:41.121] [info] [thread@955] - DefaultMQProducerImpl: myGroup start [start:109]
[2021-01-29 16:41:41.122] [info] [thread@955] - updateNameServerAddressList: [172.18.139.94:9876] [updateNameServerAddressList:1

[2021-01-29 08:40] lirong-Lee commented on #344
@ifplusor
I think I know where the problem is

[2021-01-29 09:14] lirong-Lee commented on #344
@ifplusor
Hi,After I close the virtual IP now, the following error still occurs

[2021-01-29 17:24:31.762] [info] [thread@5349] - DefaultMQProducerImpl: myGroup start [start:109]
[2021-01-29 17:24:31.762] [info] [thread@5349] - updateNameServerAddressList: [172.18.139.94:9876] [updateNameServerAddressList:151]
[2021-01-29 17:24:31.762] [info] [thread@5349] - update Namesrv:172.18.139.94:9876 [upda

[2021-01-29 10:49] ifplusor commented on #344
@lirong-Lee There is an issue in OrderlyProducer, I have fixed it. Please checkout the latest code in the re_dev branch.

[2021-02-01 02:25] lirong-Lee commented on #344
It turned out that info->retrytimes was initialized to 1.

[2021-02-01 02:25] #344 closed

[2021-02-01 02:39] ifplusor commented on #344
@ifplusor Because the send API has changed in re_dev branch, but example not change.

[2021-02-01 06:27] lirong-Lee opened #345 "MessageListenerOrderly under the re_dev branch cannot be used"
The re_dev version of MessageListenerOrderly cannot be used,
I use example/OrderlyPushConsumer.cpp, but I can’t get the message, but I can get the message normally with OrderlyPushConsumer.cpp in the master version 2.1.0.

Logs：
[2021-02-01 14:23:22.427] [info] [thread@33404] - the consumer [myGroup] start beginning.
[2021-02-01 14:23:22.427] [info] [thread@33404] - buildSubscriptionData: 321321,

[2021-02-01 06:35] ifplusor commented on #345
@lirong-Lee Are you have the commit of https://github.com/apache/rocketmq-client-cpp/commit/88d4eebe933f2f96daf01f25828057066fa722bf?

[2021-02-01 07:04] lirong-Lee commented on #345
After being updated, it is normal.

Consult, why open 4 consumer groups and restart one of them will cause all 4 consumer groups to switch the consumption queue number

I opened 4 consumers A, B, C, and D to consume the data of queue a, b, c, and d respectively. After restarting D。
A consumes queue d, B consumes queue a, C consumes queue b, and D consumes queue c .

Why restarting one consumer wil

[2021-02-01 07:21] ifplusor commented on #345
When clients are online or offline, the consumer cluster does rebalance, which allocates queues averagely for clients by clientId list. The client id consists of local IP and instance name(default value is PID). See: https://github.com/apache/rocketmq-client-cpp/blob/re_dev/src/consumer/AllocateMQAveragely.hpp

[2021-02-01 07:22] lirong-Lee commented on #345
Thanks

[2021-02-01 07:22] #345 closed

[2021-02-01 13:12] #331 closed

[2021-02-03 09:44] SandyKidYao opened #346 "No route info of this topic Error when sending msg sync in cpp, but everything normal when using the same library from python api."
The msg producer works with python api but not working in cpp. The error msg is "No route info of this topic: ".

In fact the python api is rely on the cpp client, and it works fine while the cpp codes don't, I hope someone can give a little help with my problem ( I run the example and got the similar error).

- OS: centos 7 (docker image from the official centos, tag 7.9.2009)
- RocketMQ version:

[2021-02-03 09:51] ifplusor commented on #346
@SandyKidYao Can you show more logs? or test the re_dev branch.

[2021-02-04 00:57] SandyKidYao commented on #346
Thx for reply. These are the logs I copied from the /root/logs/rocketmq-cpp folder.

- 13128** is the one that generated when I run the python test code, which works fine.
- 13390** is the one that generated by the cpp-style test code, which cannot send the msg and gets the route error.
- 13192** is got from the c-style codes, which doesn't work either.

[13390_rocketmq-cpp.log](https://github.com

[2021-02-04 12:06] ifplusor commented on #346
@SandyKidYao Can you compile cpp sdk from source?

[2021-02-05 05:22] SandyKidYao commented on #346
I figured out what's wrong in my codes. If I link the librocketmq.so from CMake by TARGET_LINK_LIBRARIES(), the route error will happen. However, if I add the same lib (no matter installed via rpm or built from source code) through CMAKE_CXX_FLAGS, everything works fine.

THX for your time again.

[2021-02-05 05:22] #346 closed

[2021-02-05 06:03] ifplusor commented on #346
It is crazy. In my opinion, TARGET_LINK_LIBRARIES is correct way, and it is better then use CMAKE_CXX_FLAGS.

[2021-02-05 07:49] ifplusor commented on #325
#346

[2021-02-05 08:37] SandyKidYao commented on #346
While I am using other libs in my program too, it may be related to the link order between these libs.

[2021-02-05 08:41] ifplusor commented on #346
@SandyKidYao The re_dev branch is recommend to use, you can test it.

[2021-02-19 02:34] lirong-Lee opened #347 "Can not share MQClientInstance between consumer and producer for same topic"
re_dev when DefaultMQPushConsumer and DefaultMQProducer are started at the same time, DefaultMQPushConsumer reports an error log:
"doRebalance, testConsumer, but the topic[testOrderMq] not exist."
Unable to pull message

DefaultMQProducer needs to be shutdown() before DefaultMQPushConsumer start()，DefaultMQPushConsumer can pull messages

[2021-02-19 04:14] lirong-Lee commented on #347
MQClientInstance.cpp:432
[code]
**Prodouct will addTopicRouteData, causing the consumer to come in and changed is false, and updateConsumerTopicSubscribeInfo will not be executed**

[2021-02-19 04:49] ifplusor commented on #347
@lirong-Lee You need to wait 20 seconds, the consumer can do rebalance in the next round.

[2021-02-19 05:04] ifplusor commented on #347
@lirong-Lee You can set a different instance name to the consumer to bypass this issue. And share MQClientInstance between consumer and producer is not recommended.

[2021-02-19 05:21] lirong-Lee commented on #347
@ifplusor I cannot guarantee that I will not subscribe to the same topic during the process. Can this be fixed?

[2021-02-19 05:56] ifplusor commented on #347
There is no plan to fix this issue in the short term. Please set instance name to avoid sharing MQClientInstance between consumer and producer.

[2021-02-19 05:59] lirong-Lee commented on #347
@ifplusor How to set the instance name?

[2021-02-19 06:06] ifplusor commented on #347
Call ```consumer.set_instance_name("consumer_instance_name")``` or ```producer.set_instance_name("producer_instance_name")```
https://github.com/apache/rocketmq-client-cpp/blob/bfae5c2f10a9f7dd5c73c07c57adb229e467c99f/include/MQClientConfig.h#L50

[2021-02-19 06:08] lirong-Lee commented on #347
@ifplusor thanks

[2021-02-19 06:08] #347 closed

[2021-02-27 06:49] morningli opened #348 "LogMessageFull偶现crash"
版本2.2.0
core栈信息：
![IMG_20210227_141801__01__01](https://user-images.githubusercontent.com/9392056/109378117-e7c4cb80-790a-11eb-8096-1ef35774275b.jpg)

[2021-03-01 06:23] HQ1363 commented on #288
@morysky  请问 boost::filesystem::create_directories: Permission denied: "//logs/rocketmq-cpp" 这个报错是怎么解决的啊,  我也遇到了一样的问题

[2021-03-10 09:19] lirong-Lee opened #350 "re_dev create rocketmq_offsets failed"
error log:
“unknown file: error: C++ exception with description "[MQClientException] msg: create offset store directory failed: C:\Users\e0614688\.rocketmq_offsets\fe80::5c03:7258:6b59:5e16@testConsumer\testConsumer, error: -1, in <C:\soft\Mysoft\selfSVN\rocketmq-re-dev\src\consumer\LocalFileOffsetStore.cpp:44>" thrown in the test body.”

It was found in UtilS::getLocalAddress()
sLocalIpAddress =

[2021-03-11 03:01] ifplusor commented on #350
BROADCASTING mode?

[2021-03-11 03:10] lirong-Lee commented on #350
Yes，is BROADCASTING mode

There is another problem in BROADCASTING mode in windows：
UtilAll.cpp : UtilAll::ReplaceFile
UtilAll::ReplaceFile uses ::MoveFile and ::ReplaceFile, these two functions will fail when the file path is too long.
My path is ：C:\Users\e0614688\\.rocketmq_offsets\172.18.140.87@testConsumer\testConsumer\offsets.json.tmp

This seems to be a windows bug, no solution
This will ca

[2021-03-28 05:51] ifplusor commented on #343
@lirong-Lee Do you have any updates about compile on windows?

[2021-04-06 06:06] lirong-Lee opened #351 "re-dev crashes when rocketmq adds cluster nodes,"
MessageDecder.cpp:87
MessageExtPtr MessageDecoder::decode(ByteBuffer& byteBuffer, bool readBody, bool deCompressBody, bool isClient)

When rocketmq adds cluster nodes, MessageDecoder::decode resolves queueOffset exception and bodyLen exception
When byteBuffer.position, because the bodyLen is too large, an exception is thrown and the program crashes

[2021-04-06 06:16] 41405465 commented on #339
Can these problems be solved?

[2021-04-06 06:51] ifplusor commented on #339
You can use `re_dev` branch, it provide `LoggerConfig& GetDefaultLoggerConfig();` function to expose config of default logger which be used to configure default logger.

[2021-04-06 07:46] ifplusor commented on #351
@lirong-Lee which commit version do you use?

[2021-04-06 07:50] lirong-Lee commented on #351
Commits on Mar 10, 2021

[2021-04-06 08:20] ifplusor commented on #351
@lirong-Lee the new node on ipv6?

[2021-04-06 08:45] lirong-Lee commented on #351
@ifplusor I just arrived at the latest version of re-dev, and it still crashes in MessageDecoder::decode. I don't know why the data format in the ByteBuffer is wrong, and the parsed data is unreasonable.
Use the java sdk to read, I find that it does not crash and  does not read, and the rocketmqt shows accumulated data.

[2021-04-06 08:48] ifplusor commented on #351
@lirong-Lee Could you dump the data in ByteBuffer?

[2021-04-06 08:49] lirong-Lee commented on #351
@ifplusor What should I do

[2021-04-06 09:04] ifplusor commented on #351
@lirong-Lee Add log in below method.

[code]

[2021-04-06 09:11] lirong-Lee commented on #351
@ifplusor
byte buffer: 000003F3DAA320A715F004EF000000030000000000000000000964A200000002913DC1B80000000100000178A5988035AC128A5D0000C43200000178A593CEC40A82D43C00002A9F00000000000000000000000000000335785EA599516FD3301485FF4AE4E76A8AEDD871FA0C0F7B18A06DE20521145287456A9329B42034EDBF930EAD54E8B83AE63E4EDD77ECD827E7DED84FAADB6DDEB5BBA8D6EA4DFC3174F163BB3D44B5528FF3D40FDBF865D8A8B55EA9CDCB8F2F7F552B753

[2021-04-06 09:13] lirong-Lee commented on #351
@ifplusor
Added in MessageExtPtr MessageDecoder::decode(ByteBuffer& byteBuffer, bool readBody, bool deCompressBody, bool isClient)

[2021-04-06 09:20] lirong-Lee commented on #351
@ifplusor
Use this data, this is printed by printf, and the write file that just wrote the log is not written

312D30342D30362031303A31313A34342E323034227D5D7D1525524554525925526F636B65744D71546F4D71747400D95245414C5F544F5049430125524554525925526F636B65744D71546F4D717474024F524947494E5F4D4553534147455F49440130413832443433433030303032413946303030303030303235394238463930300252455452595F544F504943014

[2021-04-06 09:50] ifplusor commented on #351
@lirong-Lee The first one is incomplete, and the second one is invalid.

[2021-04-06 09:53] lirong-Lee commented on #351
@ifplusor
The first one should be that the crashed data is not written in the log, it should be a packet of normal incomplete data.
I found that the data printed out every time the crash does not start with “00000”. All invalid data, causing a crash

[2021-04-06 09:56] ifplusor commented on #351
You can use this snap to test the data.
[code]

[2021-04-06 10:03] ifplusor commented on #351
@lirong-Lee Use ```LOG_ERROR_NEW``` in place of ```LOG_INFO_NEW```, default logger does flush on error.

[2021-04-06 10:06] lirong-Lee commented on #351
@ifplusor
To capture data in std::vector<MessageExtPtr> MessageDecoder::decodes(ByteBuffer& byteBuffer, bool readBody) is：
000000DEDAA320A77F1A28DE00000001000000000000000000133D3200000002932A55C00000000000000178A68A0A3CAC128A5D0000864A00000178A68557390A82D43C00002A9F000000000000000000000000000000177B22636D644E616D65223A22486561727462656174227D1A4561746F6E5F4465766963655F4F726967696E616C5F446174610

[2021-04-06 10:23] ifplusor commented on #351
@lirong-Lee I think your data in the broker is broken because it returns messages from different consume queues.

[2021-04-06 10:26] ifplusor commented on #351
and the body of some messages is incomplete.
![image](https://user-images.githubusercontent.com/9999114/113697339-a394ca00-9705-11eb-8f77-f4803bb595bd.png)

[2021-04-06 10:29] lirong-Lee commented on #351
@ifplusor
How to discard these data so that the program does not crash?
Because when using the Java SDK, it is found that Java will not consume the data in time, it should be a data error.
I just added a new borker to the cluster
By the way, how to add broke correctly.

[2021-04-06 10:35] ifplusor commented on #351
I think deleting all data in the storage directory is the easiest way.

[2021-04-06 10:36] ifplusor commented on #351
@francisoliverlee Could you give some suggestions?

[2021-04-06 11:44] lirong-Lee commented on #351
@ifplusor
Is it reasonable to add this paragraph here:
MessageExtPtr MessageDecoder::decode(ByteBuffer& byteBuffer, bool readBody, bool deCompressBody, bool isClient) {

    const char* bytes = byteBuffer.array() + byteBuffer.arrayOffset() + byteBuffer.position();
    if (nullptr == bytes || (byteBuffer.remaining() <2) || !(bytes[0] == 0 && bytes[1] == 0)) {
         return nullptr;
    }

  ....

[2021-04-06 13:57] ifplusor commented on #351
I think the bad body of pull response is unacceptable. The only way is to catch exceptions, then retry later.

[2021-04-06 14:58] lirong-Lee commented on #351
But in this situation to me, the data has been corrupted, which will cause the program to restart indefinitely. I cannot catch this exception externally.
How does rocketmq-client-cpp handle this situation internally?

My operation today is that the broker version is 4.6->4.8, and 4.6 is one master, and 4.8 opens two masters

[2021-04-07 03:19] lirong-Lee commented on #351
@ifplusor
I experimented today. After clearing the borker data, I opened the two masters directly, and the re-dev library still crashed, but the java sdk can be consumed normally. Whether it is a problem of pulling data that causes the data format to be wrong.

[2021-04-07 04:48] ifplusor commented on #351
@lirong-Lee I have fixed some bugs about ipv6.

[2021-04-07 05:49] lirong-Lee commented on #351
@ifplusor
This is the data I grabbed,
1buf is the data printed in std::vector<MessageExtPtr> MessageDecoder::decodes(ByteBuffer& byteBuffer, bool readBody).
2buf is the data printed in MessageExtPtr MessageDecoder::decode(ByteBuffer& byteBuffer, bool readBody, bool deCompressBody, bool isClient).
Before the comma is the thread id
Currently data can be consumed normally using java sdk
[rocket.log](

[2021-04-07 07:42] lirong-Lee commented on #351
@ifplusor
I use the package captured by wireshark. The data obtained by java sdk and cpp is the same. From the package point of view, the data is problematic.
But java can be parsed normally. Can we learn from the package that can parse the error and ensure that it does not crash

![image](https://user-images.githubusercontent.com/31945825/113828854-6d178780-97b7-11eb-94a8-b38a5924e7ae.png)

[2021-04-07 07:45] ifplusor commented on #351
I analyze your log, there are some things wrong.

![image](https://user-images.githubusercontent.com/9999114/113828237-c03d0a80-97b6-11eb-8cb4-d2f38a9e14e8.png)
![image](https://user-images.githubusercontent.com/9999114/113828329-d64acb00-97b6-11eb-86b2-d1ae94f23615.png)

Could you dump the body of pull response in `TcpRemotingClient::processResponseCommand()`?

[code]

[2021-04-07 07:53] ifplusor commented on #351
@lirong-Lee The third message start with "746F6E5F44" is incomplete.

[2021-04-07 07:59] lirong-Lee commented on #351
@ifplusor
Yes, after grabbing the network packet, I found that the data is indeed incomplete. I just posted a picture of the packet capture.
The java SDK discards this incomplete data.
How do we do this

[2021-04-07 08:35] ifplusor commented on #351
If the body of the pull response out of order, CPP SDK can't parse it, and there is no way to sort it.

[2021-04-07 08:42] lirong-Lee commented on #351
@ifplusor
I looked at the java sdk, they are trying the whole process, when the data is wrong, they directly catch it and then
[code]
Can we do this:
[code]
Do protection

[2021-04-07 08:52] lirong-Lee commented on #351
[code]

[2021-04-07 08:59] ifplusor commented on #351
I have pushed a patch for this case.

[2021-04-07 09:36] lirong-Lee commented on #351
@ifplusor It‘s work

[2021-04-07 09:36] #351 closed

[2021-04-09 10:03] lhy0726 opened #352 "multithread share Producer failed accidentally , error “ProducerSendSyncFailed: No route info of this topic”"
original issue: https://ask.csdn.net/questions/4332269

error log info
------------------------------------------------------------------------------------
(error): [7f0c4dffb700] no corresponding consumer found for group:TEST_TOPIC_PULL[consumerRunningInfo:1203]
(error): [7f0ac37fe700] GetTransport of:172.20.0.232:30911 get timed_mutex timeout[CreateTransport:307]
(error): [7f0ac37fe700] send fai

[2021-04-09 10:14] ifplusor commented on #352
@lhy0726 You can use the version of the re_dev branch.

[2021-04-12 09:17] lhy0726 commented on #352
thank you for reply.  but how can i fix this in branch release2.2.0?  I used branch release2.2 to rewrite  PullComsumer of python-client version , it seems that there are so many differences about PULL mode between re_dev and release2.2.0.

[2021-05-15 03:13] 41405465 commented on #245
期待发布新的release版本，距离上一个版本一年多了！

[2021-06-11 08:22] gloriousknight opened #353 "Build failed in Apple Silicon M1"
hi, my MacBook is  Apple Silicon M1 and I want to install rocketmq-client-python(https://github.com/apache/rocketmq-client-python) on my MacBook but failed. I supposed it is because rocketmq-client-cpp does not support Apple Silicon M1.
When I manually build RocketMQ-Client-CPP to run build.sh, error occurs :
`  "_time", referenced from:
      _ASN1_TIME_to_tm in a_time.o
      _CT_POLICY_EVAL_CTX

[2021-06-11 08:23] gloriousknight opened #354 "Build failed in Apple Silicon M1"
hi, my MacBook is  Apple Silicon M1 and I want to install rocketmq-client-python(https://github.com/apache/rocketmq-client-python) on my MacBook but failed. I supposed it is because rocketmq-client-cpp does not support Apple Silicon M1.
When I manually build RocketMQ-Client-CPP to run build.sh, error occurs :
`  "_time", referenced from:
      _ASN1_TIME_to_tm in a_time.o
      _CT_POLICY_EVAL_CTX

[2021-06-11 08:23] #353 closed

[2021-06-18 12:06] WanZixin opened #355 "Failed to build Boost.Build build engine"
I meet this problem. What is the reason for this problem

Is there any solution please?

[2021-06-21 01:17] cng3s opened #356 "Is there a implementation of MessageSelector.bySql in rocketmq-client-cpp?"
I would like to use MessageSelector.bySql, but I can't find it in rocketmq-client-cpp.
So Is there a implementation of MessageSelector.bySql in rocketmq-client-cpp?
If not, what is the best practices for accomplishing similar functions ?

[2021-06-21 01:57] ifplusor commented on #356
@cng3s C++ SDK doesn't support sql92. If you want to filter messages, you need to subscribe to all messages and do it by yourself.

[2021-06-21 01:58] ifplusor commented on #355
@WanZixin can you show more detail? such as the whole log.

[2021-06-21 02:00] ifplusor commented on #354
@gloriousknight Could you compile the re_dev branch on M1?

[2021-06-21 03:38] gloriousknight commented on #354
hi, when I try this command `cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local \
  -DLibevent_USE_STATIC_LIBS=ON -DJSONCPP_USE_STATIC_LIBS=OFF \
  -DBUILD_ROCKETMQ_STATIC=OFF -DBUILD_ROCKETMQ_SHARED=ON \
  -DRUN_UNIT_TEST=OFF ..`, new error occured:
`Could NOT find Libevent (missing: LIBEVENT_EVENT_CONFIG_DIR
  LIBEVENT_EVENT_LIBRARY LIBEVENT_CORE_LIBRARY LIBEVENT_EXTRA_LIBRARY

[2021-06-21 06:26] WanZixin commented on #355
@ifplusor This is the error printed by the terminal after I run the `build.sh` script.
[code]

[2021-06-21 06:28] cng3s commented on #356
I see. thanks for your help.

[2021-06-21 06:33] cng3s commented on #356
@ifplusor May I ask one more question, does rocketMQ-java do Sql filter in the the consumer? Or in the broker?

[2021-06-21 07:13] ifplusor commented on #354
@gloriousknight add `-DLIBEVENT_EVENT_CONFIG_DIR=LIBEVENT_PATH_XXXX` to CMake command, replace **LIBEVENT_PATH_XXXX** with libevent directory in your environment.

[2021-06-21 07:23] ifplusor commented on #356
@cng3s SQL92 power by broker.

[2021-06-21 07:55] ifplusor commented on #355
@ifplusor  Do you install OpenSSL?

[2021-06-21 07:55] ifplusor commented on #355
@WanZixin  Do you install OpenSSL?

[2021-06-21 07:56] ifplusor commented on #355
Do you work on Windows?

[2021-06-21 08:17] WanZixin commented on #355
I downloaded libevent 2.0.22, jsoncpp 0.10.7 and boost 1.58.0 according to the README.md, and put them in the root directory. Then run the `build.sh` script. I checked the build.sh script file and found that OpenSSL was downloaded. OpenSSL version is **1.1.1d**. And I work on **macos**.

[2021-06-21 08:18] WanZixin commented on #355
I downloaded **libevent 2.0.22**, **jsoncpp 0.10.7** and **boost 1.58.0** according to the README.md, and put them in the root directory. Then run the `build.sh` script. I checked the `build.sh` script file and found that OpenSSL was downloaded. OpenSSL version is **1.1.1d**. And I work on **macos**.

[2021-06-21 08:39] WanZixin commented on #355
@ifplusor I changed the version of **libevent** to **2.1.11**, and found that there was no longer the above problem, but I went back to the original problem. Here is the infomation in terminal.
[code]

[2021-06-21 09:14] gloriousknight commented on #354
hi, I set libevent and jsoncpp path to CMake command and cmake command run successfully.
When I try command `make rocketmq_shared -j 4`, error occured
`/Downloads/rocketmq-client-cpp-re_dev/project/../src/protocol/heartbeat/SubscriptionData.hpp:25:10: fatal error: 'json/json.h' file not found
#include <json/json.h>
         ^~~~~~~~~~~~~
In file included from /Downloads/rocketmq-client-cpp-re_dev/

[2021-06-21 10:34] ifplusor commented on #354
@gloriousknight uncomment this line https://github.com/apache/rocketmq-client-cpp/blob/4860dd650b8f6a3ceb909d6ba5de1c97bab8599b/CMakeLists.txt#L55

[2021-06-21 11:04] gloriousknight commented on #354
@ifplusor Thank you for your help, build success! But another error occurred. The main Error is `Undefined symbols for architecture arm64:` and `ld: symbol(s) not found for architecture arm64`.
All error log is below:
`iles/rocketmq_shared.dir/build
[ 10%] Linking CXX shared library ../../bin/librocketmq.dylib
cd /Downloads/rocketmq-client-cpp-re_dev/build/project && /opt/homebrew/Cellar/cmake/3.2

[2021-06-21 13:04] ifplusor commented on #354
@gloriousknight Unfortunately, I have not a device with Apple M1 chip, and I can not reproduce it on macOS with Intel chip.

[2021-06-21 14:09] #356 closed

[2021-06-28 05:50] lirong-Lee opened #357 "re-dev Cannot use accessKey, secretKey, accessChannel"
I use the following code to add accessKey, secretKey, accessChannel

[code]

Connecting to Alibaba Cloud's rocketmq, the log reports an error: "No topic route info in name server for the topic:"

With the same parameters, I can send data normally using version 2.2.0;
Use code:
[code]
[rocektmq-dev.log](https://github.com/apache/rocketmq-client-cpp/files/6723746/rocektmq-dev.log)
[rocketmq-client-c

[2021-06-28 06:09] lirong-Lee opened #358 "re-dev possible memory leak"
I use a simple code to only receive rocketmq normal messages and orderly messages. Return true when the message is received.
The sender sends a packet of ordinary data and a packet of real-time data in 100ms.
The following is the memory information graph from 2021-06-15 to 2021-06-28
![image](https://user-images.githubusercontent.com/31945825/123587186-80ffe200-d818-11eb-8fd5-8607df0b1cf6.png)

[r

[2021-06-28 06:19] ifplusor commented on #357
@lirong-Lee The support of namespace is not ok, it causes this issue.

[2021-06-28 06:22] ifplusor commented on #358
@lirong-Lee Could you profiling memory by tcmalloc or valgrind?

[2021-06-28 06:25] lirong-Lee commented on #358
@ifplusor
Use valgrind to run for a short time and see the report that there is no leak. Valgrind takes too much CPU, I don’t have a machine to run for a long time

[2021-06-28 06:26] lirong-Lee commented on #357
@ifplusor
What is the specific problem? How do i use

[2021-06-28 07:41] vongosling commented on #357
@ShannonDing ping

[2021-06-28 07:46] vongosling commented on #358
@ShannonDing

[2021-06-29 08:00] adamwen829 commented on #354
@ifplusor I compiled the `re_dev` branch success on M1 and got `librocketmq.a` and `librocketmq_static.a` in directory `bin/`. But I can't get `librocketmq.dylib` to continue

[2021-06-29 08:01] ifplusor commented on #354
@adamwen829 Do you set BUILD_ROCKETMQ_SHARED to ON?

[2021-06-29 08:06] ifplusor commented on #357
@ifplusor I will fix this issue in the next few weeks.

[2021-06-29 08:17] adamwen829 commented on #354
It works!
thx for your guidance❤️

[2021-06-29 09:48] gloriousknight commented on #354
@adamwen829 hi, can u post ur cmake command for me? My mac still builds failed.

[2021-06-30 07:51] gloriousknight commented on #354
@ifplusor hi, I build successfully on M1! Thanks for ur help ❤️  ! The error I mentioned before is because the LIBRARY path is wrong. Here is my cmake command.
`sudo cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr/local \
  -DLibevent_USE_STATIC_LIBS=OFF -DJSONCPP_USE_STATIC_LIBS=OFF \
  -DBUILD_ROCKETMQ_STATIC=ON -DBUILD_ROCKETMQ_SHARED=ON \
  -DRUN_UNIT_TEST=OFF -DLIBEVENT_EVENT_CON

[2021-06-30 07:51] #354 closed

[2021-06-30 12:19] YellowOldOdd commented on #293
嗨，你好，我也遇到了一摸一样的问题，版本2.2.0，consumer数量发生变化时，PushConsumer在Rebalance时部分queue卡住
@ifplusor @ShannonDing

[2021-06-30 12:19] YellowOldOdd commented on #293
这是卡住时附近的日志

这是卡住时的日志:
[2021-Jun-30 11:17:15.192174](info):oneway updateConsumeOffsetToBroker of mq:MessageQueue [topic=note-change, brokerName=cluster02-broker10, queueId=3], its offset is:7971061[updateConsumeOffsetToBroker:310]
[2021-Jun-30 11:17:20.194643](info):oneway updateConsumeOffsetToBroker of mq:MessageQueue [topic=note-change, brokerName=cluster02-broker10, queueId=3], its offset is:797

[2021-06-30 12:20] YellowOldOdd commented on #293
基本可以稳定复现，请问有什么推荐的解决方法吗？

[2021-06-30 12:25] YellowOldOdd commented on #293
并且在接下来的几个小时里，会一直报
[2021-Jun-30 14:31:20.195386](warning):PullRequest for [MessageQueue [topic=note-change, brokerName=cluster02-broker10, queueId=3]] has been expired 9987 ms,m_lastPullTimestamp = 1625034550208 ms[isPullRequestExpired:211]
的超时错误，然后逐渐恢复了。。

[2021-06-30 12:43] WanZixin opened #359 "support connecting clusters through domain?"
If so, how to use it? There is a risk of connecting the cluster through IP address, because the machine corresponding to IP address may be offline.

[2021-06-30 12:52] YellowOldOdd commented on #293
然后，"任意一个消费者均多次出现过上述情况，必须重启消费者才能恢复"。

[2021-06-30 13:02] ifplusor commented on #359
@WanZixin replace IP with domain, and remain port.

[2021-07-01 05:56] WanZixin commented on #359
@ifplusor Do you mean to write like this？
[code]

[2021-07-01 05:58] ifplusor commented on #359
@WanZixin

[code]

[2021-07-01 06:05] WanZixin commented on #359
@ifplusor What scenarios are these two functions applied to please?
[code]

[2021-07-01 06:17] ifplusor commented on #359
`SetPushConsumerNameServerDomain` is deprecated, it will do HTTP Get to fetch namesrv list. Use `SetPushConsumerNameServerAddress` only.

[2021-07-01 06:49] WanZixin commented on #359
@ifplusor It's working. Thank you!

[2021-07-01 08:17] #359 closed

[2021-07-01 09:13] Frodez opened #360 "Is DefaultMQPullConsumer.pull thread safe?"
I need to use the function:
[code]
And I need it for concurrent use. I have navigated several issues, like #141 , but there is no information about whether this function is thread safe.

[2021-07-01 09:15] ifplusor commented on #360
@Frodez It is thread-safe.

[2021-07-01 09:17] Frodez commented on #360
Thank you.

[2021-07-01 10:45] #360 closed

[2021-07-08 03:58] qingshanyuluo opened #361 "mac clang boost 1.58.0 bootstrap.sh build failed."
new version clang report "xxx" is invalid in C99 error
referring [](https://www.gitmemory.com/issue/boostorg/build/664/714882384)
advice to upgrade to 1.72.0

[2021-07-12 12:26] legendmaner opened #362 "可能存在重复消费问题"
https://github.com/apache/rocketmq-client-cpp/blob/d0f65a191b9e9609939da719d13548898d73f225/src/consumer/DefaultMQPushConsumerImpl.cpp#L799

这里m_PullCallback是复用的，而绑定request是可变的。在多client进程并发重启时候，容易触发某个queue短时间内被Add、Drop然后又Add，就会触发重复消费case：
1. 线程1: 队列queue1的请求A触发Add mq，绑定cb1，生成 cb1 = getAsyncPullCallBack(A,queue1)
2. 线程2: 队列queue1的请求A触发Drop mq，然而只是设置了下drop flag，实际清理工作在pull循环里面
3. 线程3: 队列queue1的请求B触发

[2021-07-13 06:59] ifplusor commented on #362
当前复用PullCallback的设计比较差

[2021-07-27 05:37] rooode opened #363 "批量发送消息，服务器端仅收到一条"
服务器端版本号4.9.0
客户端版本号C++ 2.2.0
问题描述：
1.当客户端使用上述版本号发送批量消息时，服务器端仅可以接收到1条消息。
2.如果使用mater分支进行发送批量消息，服务器端可以正常收到多条。

[2021-07-28 00:23] wangwenqiangGitHub commented on #107
I have build boost_iostreams with zlib ,but still this question

[2021-07-28 05:38] ifplusor commented on #363
@rooode 2.2.0和master之间没有批量发送相关的变更

[2021-08-02 12:25] iambocai opened #364 "【功能需求】暴露ConsumeFromWhere API接口"
需求如题，我们目前使用rocketmq-client-python消费消息，业务不关心5分钟前的数据，所以需要在启动时设置consume_from_timestamp为五分钟前，以跳过老消息，降低消费者压力，但因为cpp client没有暴露ConsumeFromWhere 相关的设置接口，python client无法实现对应功能，希望cpp client可以暴露下ConsumeFromWhere 相关的get/set接口，谢谢！

[2021-08-09 08:28] WanZixin commented on #358
@ifplusor Is there a risk of memory leakage?

[2021-08-09 08:30] ifplusor commented on #358
I'm not found in the test.

[2021-08-09 09:07] 180909 opened #365 "build faild on Apple M1 arm"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2021-08-10 04:43] #363 closed

[2021-08-10 04:46] vongosling commented on #364
Would you like to pr it? the community will help you to  check and merge:-)

[2021-08-10 17:26] ThreeAndTwo commented on #355
any help?

[2021-08-11 00:22] ifplusor commented on #355
There are issues of compatibility between Libevent **2.0.22** with OpenSSL **1.1.1d**, the version in build.sh is recommended.

[2021-08-11 00:26] ifplusor commented on #355
@WanZixin Could you post error logs about boost, such as 'bootstrap.log'?

[2021-08-11 03:02] WanZixin commented on #355
@ifplusor Here is my 'boostrap.log'.
[code]

[2021-08-11 03:37] ThreeAndTwo commented on #355
I try to change boost version to 1.76.0, It's worked! and then I find the default c++ compiler is clang, I already switch c++ compiler to gcc-11 but doesn't seem to work.
![1628651748180](https://user-images.githubusercontent.com/35927054/128965786-a9654ccd-2634-4c7a-9806-6375bf6450fb.jpg)
![image](https://user-images.githubusercontent.com/35927054/128965801-f86866cd-b94d-4161-a482-dffb516f3609.pn

[2021-08-11 04:17] ThreeAndTwo commented on #355
@WanZixin @ifplusor I found another case and it's worked!

[2021-08-11 10:00] ThreeAndTwo commented on #355
Now it does not work! How should to resolve it???

[2021-08-11 14:18] ThreeAndTwo opened #366 "EventLoop.h:112:15: error: field 'm_peerAddrPort' has incomplete type 'std::string'"
relation issues:
- https://github.com/apache/rocketmq-client-cpp/issues/355
- https://github.com/apache/rocketmq-client-cpp/issues/361

when boost update to 1.72.0
os: macos
![image](https://user-images.githubusercontent.com/35927054/129045121-b5045074-afb8-4b6d-afc8-a62408b6c483.png)

if use default boost, there will happen [355](https://github.com/apache/rocketmq-client-cpp/issues/355)

[2021-08-16 03:30] ifplusor commented on #366
@ThreeAndTwo Cloud you try to add `include <string>` in EventLoop.h and UtilAll.h?

[2021-09-14 06:21] yetengfei opened #367 "After pushconsumer is forcibly closed and restarted again, the previously consumed messages will be re-consumed"
**code is this：**
// consume message
int doConsumeMessage(struct CPushConsumer *consumer, CMessageExt *msgExt)
{
    cout << "[Consume Message] " << "MsgTopic:" << GetMessageTopic(msgExt) << ", MsgTags:" << GetMessageTags(msgExt)
        << ", MsgKeys:" << GetMessageKeys(msgExt) << ", MsgBody:" << GetMessageBody(msgExt) << endl;

    return E_CONSUME_SUCCESS;
}

int main(int argc, char *argv[])
{

[2021-10-19 08:27] bianlijuan opened #370 "why the “DefaultMQPullConsumer::persistConsumerOffset4PullConsumer“ can not be used？"
void DefaultMQPullConsumer::persistConsumerOffset4PullConsumer(const MQMessageQueue& mq) {
  // impl->persistConsumerOffsetByResetOffset(mq);
}
 this was comment out， After the application is restarted, how can I ensure no repeated consumption

[2021-10-27 05:27] xtuer opened #386 "Is the C++ Client possible to build with MinGW in Windows"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2021-10-27 05:28] #386 closed, assigned to nobody

[2021-10-27 05:29] xtuer opened #387 "Is the C++ Client possible to be built with MinGW in Windows"
Seems currently the C++ Client build only support MSVC compiler.
Is the C++ Client possible to be built with MinGW in Windows?

[2021-11-04 05:33] lirong-Lee commented on #357
@ifplusor Is there a chance to support this feature now

[2021-11-04 05:40] ifplusor commented on #357
Unfortunately, I have been busy with work in the past few months and have no time to fix this issue.

[2021-11-11 06:37] ifplusor commented on #357
@lirong-Lee I'm so sorry, but could you do this by yourself and commit a PR? I will provide support as much as possible.

[2021-11-11 06:41] lirong-Lee commented on #357
@ifplusor Can you tell me about which module to do this thing. I refer to the java version and master version to change it to see

[2021-11-11 07:53] ifplusor commented on #357
@lirong-Lee As I say before, sdk do not process namespace for topic/group, you can see https://github.com/apache/rocketmq/blob/df4e98855d461d85e9c4ed43add1b12a58bca7b6/common/src/main/java/org/apache/rocketmq/common/protocol/NamespaceUtil.java#L71

[2021-12-01 07:08] xdatcloud commented on #365
Hi , please try to build client with `re_dev` branch, follow instructions under #354 .

[2021-12-05 13:46] 180909 commented on #365
Thanks for your comment, and i succeeded to build on Apple M1.

[2021-12-05 13:46] #365 closed

[2021-12-10 03:28] superxieshushu opened #390 "boost::filesystem Undefined symbols for architecture x86_64"
uname -a
Darwin MacBook-Pro.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64
branch: master
jsoncpp-0.10.7、boost_1_78_0.tar、libevent-release-2.1.11-stable

[2021-12-17 08:45] fengxiao2019 opened #391 "How to export the debug information of the consumer?"
I set the log level to **DEBUG** via the function `SetPushConsumerLogLevel`, i can see the produced logs. but I don't see the debug log of the relevant consumer in the log file.

I use the rocketmq-client-python to set the log level.
the code like this:
[code]

os: centos 7.5
branch: master

[2021-12-18 10:49] fengxiao2019 opened #392 "收到重复消息"
消息ID： 0A64F892048A1B9871B45B0C6972005C

[2021-Dec-18 16:19:00.037053](info):processResponseCommand, code:11, opaque:1028, maxRetryTimes:1, retrySendTimes:1[processResponseCommand:520]
[2021-Dec-18 16:19:00.037081](info):cancelTimerCallback: opaque:1028[cancelTimerCallback:625]
[2021-Dec-18 16:19:00.037153](info):handleAsyncRequestTimeout aborted opaque:1028, e_code:125, msg:操作已取消[handleAsyncReques

[2021-12-20 04:43] ifplusor commented on #391
@fengxiao2019 You need call ```set_log_level()``` before do anything.

[2021-12-20 04:48] ifplusor commented on #392
@fengxiao2019 Could you describe your case in simple sentences?

[2021-12-20 04:50] fengxiao2019 commented on #391
here is the source code :

[code]
PushConsumerPro source code:

[code]
PushConsumer's source code:
the code come from **rocketmq-client-python**:
[code]
you mean I should call `set_log_level` before `self.set_message_model(message_model)` ?

[2021-12-20 04:54] fengxiao2019 commented on #392
Multiple threads with the same process will receive messages with the same message_id at the same time (or at many intervals, usually at the millisecond level).
Single process with a single thread: it will receive the same message_id several times in a row after the current message_id has been processed.
This scenario is still quite frequent.

同一个进程多个线程，会在同一时刻（或者间隔很多的时间内，通常是在毫秒级别）收到相同message_id的消息

[2021-12-20 04:55] fengxiao2019 commented on #392
I compiled the version with the master branch

[2021-12-20 05:01] ifplusor commented on #392
@fengxiao2019 Do you operate consumer cluster before receive duplicated messages?

[2021-12-20 05:06] fengxiao2019 commented on #392
no, I didn't.

[2021-12-20 05:08] ifplusor commented on #391
IMO, you need call ```SetPushConsumerLogLevel``` first, then call ```CreatePushConsumer``` and others.

[2021-12-20 05:11] fengxiao2019 commented on #391
[code]
SetPushConsumerLogLevel need the pointer of a consumer instance

[2021-12-20 05:16] ifplusor commented on #391
It's so crazy. I think you need disable this log to make it work. https://github.com/apache/rocketmq-client-cpp/blob/6523dcc3b309a1065375e40657f68f66bfeca38d/src/consumer/DefaultMQPushConsumerImpl.cpp#L226

[2021-12-20 05:22] ifplusor commented on #391
At this moment, the logger in rocketmq is GLOBAL, and config the level of it is separate from consumer.

[2021-12-20 05:23] fengxiao2019 commented on #391
Okay, I'll try this afternoon, thanks.

[2021-12-20 05:32] ifplusor commented on #387
@xtuer gcc-like toolchain is supported at this moment, but compile on MinGW is not tested.

[2022-01-10 07:43] humkum opened #393 "The default trace topic is not equal to broker system trace topic"
The c++ sdk's default trace topic was set to "rmq_sys_TRACE_DATA_DEFAULT_REGION"，and the broker's default trace topic is "RMQ_SYS_TRACE_TOPIC".
![image](https://user-images.githubusercontent.com/50660789/148731603-fe459c84-1039-4dee-8ae0-01701c331158.png)
Because of above setting，when I switched trace up，causing an exception as follows:
![image](https://user-images.githubusercontent.com/50660789/1

[2022-01-13 04:43] #391 closed

[2022-01-17 09:44] gaoyf commented on #293
我也是，日志也一样，@YellowOldOdd @ifplusor @ShannonDing

[2022-01-17 21:29] ifplusor commented on #293
你是什么消费模式？

[2022-01-17 21:30] ifplusor commented on #293
你是什么消费模式？

[2022-01-18 02:41] gaoyf commented on #293
就是PushConsumer，跟@YellowOldOdd的一模一样，我看master代码已经修改了 #[5629226997fea8bc6ac91e9481d2140d983106a7](https://github.com/apache/rocketmq-client-cpp/commit/5629226997fea8bc6ac91e9481d2140d983106a7)，应该就是这个问题，能不能release一个2.2.1呢，这个问题太严重了

[2022-01-18 03:02] ifplusor commented on #293
@ShannonDing

[2022-01-20 02:24] cng3s opened #395 "Valgrind: Invalid read of size 1 是否存在非法的内存访问？"
==20355== Thread 22:
==20355== Invalid read of size 1
==20355==    at 0x4C35946: __GI_mempcpy (vg_replace_strmem.c:1563)
==20355==    by 0x5AF806B: _IO_default_xsputn (in /usr/lib64/libc-2.17.so)
==20355==    by 0x5AC8032: vfprintf (in /usr/lib64/libc-2.17.so)
==20355==    by 0x5AF3178: vsnprintf (in /usr/lib64/libc-2.17.so)
==20355==    by 0x87D31B: rocketmq::LogUtil::LogMessageFull(boost::log::v

[2022-01-20 12:23] MrLrf opened #396 "什么时候支持M1芯片的MacOs？"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2022-01-20 12:24] #396 closed

[2022-02-07 09:41] humkum opened #397 "[C extension]some c interface enhancement and bugfix during user using python sdk"
**BUG REPORT**

1. Please describe the issue you observed:
When we extend the Python sdk with the c interface of the c++ sdk, we find the following question:

- [ ]  **task 1**  When we open message trace，client log shows follow error:
`(error):processSendResponse error remark:topic[rmq_sys_TRACE_DATA_DefaultRegion] not exist, apply first please!
See http://rocketmq.apache.org/docs/faq/ for furthe

[2022-02-07 11:59] humkum opened #398 "Message trace is not compatible with RocketMQ main project"
**BUG REPORT**

1. Please describe the issue you observed:

By opening message trace of c interface，we found question as follows:

- Log print error message like :
`(error):processSendResponse` error remark:topic[rmq_sys_TRACE_DATA_DefaultRegion] not exist, apply first please! See http://rocketmq.apache.org/docs/faq/ for further details., error code:17[processSendResponse:552]`
- Search message tr

[2022-02-08 03:27] humkum opened #400 "Setting log path didn't work"
**FEATURE REQUEST**

1. Please describe the feature you are requesting.

    The method of setting the log path of C extension is not implemented, so it didn't work when we using SetProducerLogPath() or SetPushConsumerLogPath() to change the log saved path.

2. Provide any additional detail on your proposed use case for this feature.

    We want make the log path configurable and the log file nam

[2022-02-08 07:30] humkum opened #402 "Consumer can normally consume message, but subscription detail and consume type and mode display unusual."
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

When I run a cpp consumer, I found that there's no clientID information in subscription in console, but the consumer can normally consume. As follows:

Can normally consume:
![image](https://user-images.githubusercontent.com/50660789/152937023-a9f8d8d9-fe0b-4d4e-b2fe-d70e5b183b20.png)

Subscrip

[2022-02-09 02:41] humkum opened #404 "There should be a c interface to set client current language."
**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

By using Python SDK, we found that the language of client in console was still "CPP".

- What did you expect to see?

Using Python SDK, the language of client should be "PYTHON".

- What did you see instead?

![20220209-104005](https://user-images.githubusercontent.com/50660789/153111621-d2b355

[2022-02-22 06:46] lifepuzzlefun opened #406 "SubscriptionData subversion field serialize in json should be long, not string."
see https://github.com/apache/rocketmq-client-cpp/blob/6523dcc3b309a1065375e40657f68f66bfeca38d/src/consumer/SubscriptionData.cpp#L107-L113

the serialize string in rockemq broker is long. i think this should keep the same as broker implementation

[2022-02-25 08:57] brighten01 opened #407 "./config: No such file or directory"
弄个东西又不能用，请问测试过么
build.sh: line 232: ./config: No such file or directory

[2022-02-25 12:37] ifplusor commented on #407
哪个版本？看看是不是openssl下载失败了

[2022-03-11 09:44] shencw opened #409 "Inconsistent directory structure Help!!"
The issue tracker is **ONLY** used for the CPP/C client (feature request of RocketMQ need to follow [RIP process](https://github.com/apache/rocketmq/wiki/RocketMQ-Improvement-Proposal)). Keep in mind, please check whether there is an existing same report before your raise a new one.

Alternately (especially if your communication is not a bug report), you can send mail to our [mailing lists](http:/

[2022-03-11 10:13] ifplusor commented on #409
I restructure it. What problem do you encounter with the new structure？

[2022-03-15 11:58] YellowOldOdd commented on #293
嗨 @gaoyf ， 请问用了#[5629226997fea8bc6ac91e9481d2140d983106a7](https://github.com/apache/rocketmq-client-cpp/commit/5629226997fea8bc6ac91e9481d2140d983106a7)的改动后，问题有解决吗？

[2022-03-16 11:22] shencw commented on #409
i use https://github.com/apache/rocketmq-client-go/tree/v1.2.4 version
 A lot of files can't be found  😭

[2022-03-17 04:15] ifplusor commented on #409
@shencw You need to use below command

[code]

instead of

[code]

[2022-03-17 09:41] shencw commented on #409
@ifplusor  I try to use the prompt like this and the result is as follows
[code]

[2022-03-17 09:45] shencw commented on #355
这个不适用Big Sur版本

[2022-03-17 09:45] shencw commented on #355
这个不适用Big Sur版本

[2022-03-17 10:12] ifplusor commented on #409
I want to remind you that the `re_dev` branch does not support PullConsumer.

[2022-03-17 10:33] shencw commented on #409
do I have anything I can use ? Mac M1 (Big Sur)

[2022-03-17 10:50] ifplusor commented on #409
@shencw PullConsumer is what you need to use?

[2022-03-17 11:26] shencw commented on #409
yes, i need to maintain a bought old system

because there is not enough time, I want it to run ahead of time

now i are developing on CentOS7, But it's not as convenient as MAC OS  😂

[2022-03-28 10:13] bigboysun opened #411 "Thread 5 "networkTP" received signal SIGABRT, Aborted."
stack as follow:

#0  0x00007f4044b36277 in raise () from /lib64/libc.so.6

#1  0x00007f4044b37968 in abort () from /lib64/libc.so.6

#2  0x00007f40333337d5 in __gnu_cxx::__verbose_terminate_handler() () from /lib64/libstdc++.so.6

#3  0x00007f4033331746 in ?? () from /lib64/libstdc++.so.6

#4  0x00007f4033331773 in std::terminate() () from /lib64/libstdc++.so.6

#5  0x00007f40333319e9 in __cxa_re

[2022-04-07 08:48] Euraxluo opened #412 "about rocketmq-cpp-client and rocketmq-python-client"
windows sup?
python sdk sup?
are the developers of rocketmq cpp and python rubbish?

[2022-04-13 10:44] xmutzlq commented on #317
I have the same problem How to solve it？ （同样的问题，怎么解决呢？）

[2022-04-13 15:03] xmutzlq opened #413 "can not find librocketmq.so"
**can not find librocketmq.so **

"Finally, both librocketmq.a and librocketmq.so are saved in rocketmq-client-cpp/bin"
but I can not find librocketmq.so
finally librocketmq.a and  librocketmq.dylib

[2022-04-14 02:25] #413 closed

[2022-05-06 04:06] #412 closed

[2022-06-15 02:50] Jerlensu commented on #293
请问这个问题解决了吗 ？

[2022-06-15 02:58] ShannonDing commented on #293
see #300

[2022-06-15 02:58] #293 closed

[2022-06-27 09:17] xiaoma20082008 commented on #390
几乎同样的问题！！

## OS
[code]

## Clang
[code]

## Versions

- [x] boost_1_79_0
- [x] libevent-2.1.11-stable
- [x] jsoncpp-0.10.7
- [x] openssl_1_1_1d

## Error
[code]

[2022-06-28 03:08] ShannonDing commented on #409
maybe you can have a try on the native go client. https://github.com/apache/rocketmq-client-go/tree/master/examples/consumer/pull

[2022-06-28 03:08] #407 closed

[2022-06-28 03:28] shencw commented on #409
don't use here ？？ @ShannonDing
https://github.com/apache/rocketmq-client-go/blob/master/api.go#L139

[2022-06-29 09:00] xiaoma20082008 opened #423 "Compile error with static_cast"
Compile error after this commit #419

**BUG REPORT**

1. Please describe the issue you observed:

- What did you do (The steps to reproduce)?

[code]

- What did you expect to see?

build and compile success

- What did you see instead?

`static_cast from 'int *' to 'const char *' is not allowed` on [TcpTransport.cpp#L210](https://github.com/apache/rocketmq-client-cpp/blob/master/src/transport/Tcp

[2022-06-30 23:39] #423 closed

[2022-07-01 02:28] ChrisZhangJin opened #426 "[vulnerability] Mismatched free in CProducer"
I found there is a **mismatched free** in CProducer, scanned by Valgrind.

# valgrind report
here is the report sample,

   ==1570==    at 0x4C2B51D: operator delete(void*) (vg_replace_malloc.c:586)
   ==1570==    by 0x1736BC86: DestroyProducer (in /usr/lib64/librocketmq.so)
                        ... ....
   ==1570==  Address 0xd1cfb10 is 0 bytes inside a block of size 256 alloc'd
   ==1570==

[2022-07-06 02:11] ShannonDing commented on #426
yes, it seems a memory leak. could you pls create a pr to fix it?

[2022-07-06 10:54] LeeTsen opened #430 "Memory leak in TcpTransport::getInetAddr"
https://github.com/apache/rocketmq-client-cpp/blob/5d35d00eed208d4a038a44ce1fe76c120a553382/src/transport/TcpTransport.cpp#L105

The answer returned by evutil_getaddrinfo should be released by evutil_freeaddrinfo.

[2022-07-07 02:49] ChrisZhangJin commented on #430
the leak happens only when using CProducer while setting server with a domian not a IP;
I also tried cpp class DefaultMQProducer, it's totally ok without it.

it seems c-based interface has such leaks

the code like this
` SetProducerNameServerAddress(producer, "some.domain.com:9876");`

found version:
2.2.0

here is the result from Valgrind

==12866==    at 0x4C29F73: malloc (vg_replace_malloc.c:

[2022-07-07 06:58] ChrisZhangJin commented on #426
i'd love to, but i found it was fixed in master,  here is the commit [6523dcc3b309a1065375e40657f68f66bfeca38d]
![image](https://user-images.githubusercontent.com/14982377/177710744-3ad9ace5-89da-4c30-9de0-3c684b38f543.png)

[2022-07-09 20:54] #430 closed

[2022-07-15 08:36] lidh15 opened #433 "Is the project still under maintainence?"
![image](https://user-images.githubusercontent.com/14806954/179185182-b541a217-6345-480b-8f8c-aba7251e0d3d.png)

we are using 2.2.0 pre release and it seems that there will never be an official release for this version. and milestone 2.3.0 is also completed but never move into pre release.
In March this year there is a 5.0.0 rc which makes us feel like there will be a big step forward, but after 4

[2022-07-30 15:37] #333 closed

[2022-07-30 15:40] ShannonDing commented on #398
In server end,
it has different topics for tracing messages in CLOUD model from which in Local model.

[2022-07-30 15:49] ShannonDing opened #435 "Support the dynamic closing of track message sending on the client."
可靠性和可用性是每个 MQ 系统最重要的两个特性，通过Message Track Trace我们应该查看完整的消息链接，快速找到进程消息传递失败的根本原因，并且可以查询到很多参数值，例如发送成本时间、消费成本时间、存储在 broker 中的时间等等，当服务端压力过大或者存储紧张的时候，我们可以通过命令临时关闭轨迹消息进行降级。Apache RocketMQ在RIP-6中已经实现了消息轨迹的功能，针对CPP客户端，基本的轨迹功能已经实现，需要进一步实现临时降级策略。本题目的目的就是要在CPP客户端实现轨迹降级策略，主要包括：

1.学习Apache RocketMQ知识，详细了解RocketMQ原理、使用方式
2.掌握Apache RocketMQ中轨迹消息特性原理和代码
3.在社区中提交Issue，完成相关代码，review后被社区合并

相关材料：
https://github.com/

[2022-07-30 15:59] ShannonDing commented on #435
assign to @BeautyYuYanli

[2022-07-30 16:11] ShannonDing opened #436 "Downloading dependent packages without checking certificate in compile shell."
https://www.openssl.org/source/old/1.1.1/openssl-1.1.1d.tar.gz
Resolving www.openssl.org (www.openssl.org)... 23.65.230.47, 2600:1407:1d:38c::c1e, 2600:1407:1d:3a0::c1e
Connecting to www.openssl.org (www.openssl.org)|23.65.230.47|:443... connected.
ERROR: cannot verify www.openssl.org's certificate, issued by ‘/C=US/O=Let's Encrypt/CN=R3’:
  Issued certificate has expired.
To connect to www.openss

[2022-07-31 15:24] BeautyYuYanli commented on #436
[Update](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/) system's ca-certificates from the package manager may fix this

[2022-08-01 07:37] #436 closed

[2022-08-08 08:33] #400 closed

[2022-08-08 08:38] #433 closed

[2022-08-12 08:07] lizhanhui commented on #387
@xtuer You may try [this one](https://github.com/apache/rocketmq-clients), which supports Windows, Mac, and Linux

[2022-08-14 08:01] T1anZhenYu opened #438 "How to set write queue number and read queue number?"
I want the producer to specify the read/write queue number when it sends a message about a new topic. But in Example, there is no relevant use case. How should I set it?

[2022-08-15 02:51] lizhanhui commented on #438
The number of queues/partitions of a topic is decided and persisted on topic creation.  Is your use case to use only a subset of available queues or change the number of the queues a topic has dynamically?

[2022-08-15 03:06] T1anZhenYu commented on #438
When I create a new consumer, I only want a subset of available queues. How can I set it?

[2022-08-15 03:18] lizhanhui commented on #438
I assume you are referring to Producer as the first comment.  Yes, you can decide which queue to publish to when delivering a message. Use the one with QueueSelector
[code]

[2022-08-15 03:29] T1anZhenYu commented on #438
Thanks. I will check it out .

[2022-08-22 15:28] wangxiaoheng1995 opened #439 "npm install librocketmq.a 403"
https://opensource-rocketmq-client.oss-cn-hangzhou.aliyuncs.com/cpp-client/linux/1.2.0/UBUNTU/14.04/librocketmq.a

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>AccessDenied</Code>
<Message>You have no right to access this object because of bucket acl.</Message>
<RequestId>63039FE1E001B430323C1BF9</RequestId>
<HostId

[2022-08-22 17:49] #439 closed

[2022-08-22 17:59] wangxiaoheng1995 opened #440 "npm install 403"
https://opensource-rocketmq-client.oss-cn-hangzhou.aliyuncs.com/cpp-client/linux/2.1.0/UBUNTU/14.04/librocketmq.a
谁有相同的文件能给我一个吗？急用！

[2022-08-23 01:19] #440 closed

[2022-08-30 03:24] lirong-Lee opened #442 "v5.0-rc2 cannot connect to Apache RocketMQ - Version 5.0.0-ALPHA"
v5.0-rc2 cannot connect to Apache RocketMQ - Version 5.0.0-ALPHA, what version of broker can be connected?

[2022-08-30 06:04] lizhanhui commented on #442
@lirong-Lee It works with the latest [develop](https://github.com/apache/rocketmq) branch, which will be released this week.

[2022-08-30 06:05] lirong-Lee commented on #442
 
 
您好，您的邮件我已收到。

[2022-08-30 06:08] lizhanhui commented on #442
One more thing, @lirong-Lee development of 5.x SDKs are moved to https://github.com/apache/rocketmq-clients/  Please use that repository for issues reporting and release downloads.

[2022-08-30 06:08] #442 closed

[2022-08-30 06:10] lizhanhui commented on #358
Address Sanitizer is a lot faster than valgrind. You guys may try it.

[2022-09-13 09:19] tqqq commented on #293
我们也遇到了这个问题，最后基于master分支重新编译解决了（re-dev分支编译过，但是还是有问题，因为没有ISSUE293这个commit）

[2022-09-27 06:42] bingwei commented on #184
more detail from what I got.
rocketmq-client-cpp: 2.1.0
boost_1_77_0.tar.gz
libevent-release-2.1.11-stable.zip
jsoncpp-0.10.7.zip
-------

[ 64%] Building CXX object project/CMakeFiles/rocketmq_static.dir/__/src/producer/TransactionMQProducerImpl.cpp.o
cd /Users/bj00137ml/temp/rocketmq-client-install/rocketmq-client-cpp-2.1.0/tmp_build_dir/project && /Library/Developer/CommandLineTools/usr/bin/c++

[2022-10-08 03:44] zyi1992 commented on #392
遇到了同样的问题，64个写队列和64个读队列的 一个消费者组设置10个进程 每个进程10个线程 同一个进程会在同一时间重复消费同一个消息
[code]

[2022-10-11 07:42] yuntong613 opened #445 "vs2019 compile error"
Environment: Windows 10，vs2019，vcpkg and rocketmq master branch.
Error Info : There is no "setenv" method in vs2019，but _putenv or _putenv_s

[2022-10-26 09:03] wxyBUPT opened #446 "Got crash when calling rocketmq::LogUtil::LogMessageFull"
1. Please describe the issue you observed:
Since Jul 13 2021, our rmq-client-cpp was really stable in the production environment, it's version is "2.2.0"; but got crashed today, below is the trace:

(gdb) bt
#0  0x00007f5664f785f7 in raise () from /lib64/libc.so.6
#1  0x00007f5664f79ce8 in abort () from /lib64/libc.so.6
#2  0x00007f5664fb8317 in __libc_message () from /lib64/libc.so.6
#3  0x00007f

[2022-11-27 03:38] eric-projects opened #447 "batch message format of code is error"
批量消息体格式异常：SOH ，STX

{{"a":1,"uKey":"DeviceLogEvent","deviceModelId":"1036598151955419136","commonEventClass":"","level":"","eventType":"DeviceLogEvent","serverIp":"10.42.33.107","driverId":"1036598288685535232","enterpriseId":"715155051637899264","date":"2022-11-27 10:20:49.394"}bKEYSgatewayUID:undefinedTAGSDeviceLogEventUNIQ_KEY0A2A216B00081BCD450B881DB9740000WAITtrue{{"b":2,"uKey":